<section class="latest-posts">
    <div class="container">
        <header>
            <!-- Titles for pages inside the Blog section -->
            {% if meta is defined %}
                <!-- Title for Global Index page -->
                {% if not (meta.user_id or meta.tag) %}
                    <h2 class="font-weight-bold">Latest from our blog</h2>
                    <p class="lead">Latest posts from our team and blog collaborators.</p>
                <!-- Title for Author Index page -->
                {% elif meta.user_id %}
                    <h2 class="font-weight-bold">Posts from {{ meta.author|string }}</h2>
                    <p class="text-big">All posts in our blog from {{ meta.author|string }}.</p>
                <!-- Title for Tag Index page -->
                {% else %}
                    <h2 class="font-weight-bold">{{ meta.tag.upper() }}</h2>
                    <p class="text-big">All posts in our blog belonging to '{{ meta.tag.upper() }}' category.</p>
                {% endif %}
            <!-- Titles for pages outside the Blog section -->
            {% else %}
                <!-- Identify Home -->
                {% if title == 'CryptoFeeSaver | Find the cheapest place to buy or exchange cryptocurrencies' %}
                    <a class="no-link-format" href="/blog"><h2 class="font-weight-bold">Latest from the blog</h2></a>
                    <p class="lead">Latest posts from our team and blog collaborators.</p>
                <!-- Identify Search Engine -->
                {% elif title == 'Find the cheapest Crypto Exchanges | Crypto Exchange Search Engine  | CryptoFeeSaver' %}
                    <a class="no-link-format" href="/blog"><h2 class="font-weight-bold">Latest from our blog about Exchanges</h2></a>
                    <p class="lead">Latest posts from our team and blog collaborators.</p>
                {% else %}
                    <h2 class="font-weight-bold">Latest from our blog</h2>
                    <p class="lead">Latest posts from our team and blog collaborators.</p>
                {% endif %}
            {% endif %}
        </header>
        <div class="row">

            {% for post in posts %}
                {% if (title == 'Home' or title == 'Exchanges') and loop.index > 3 %}
                    <div class="post col-sm-6 col-xl-4 mb-4 mb-md-5 d-xl-none">
                {% else %}
                    <div class="post col-sm-6 col-xl-4 mb-4 mb-md-5">
                {% endif %}
                    <div class="post-thumbnail">
                        <a href="{{ post.url }}">
                            {% if post.meta.images %}
                                <img src="{{ post.meta.images[0] }}" alt="{{ post.title }}" class="img-fluid">
                            {% else %}
                                <img src="/static/img/blog/coins_fs_low.jpg" alt="{{ post.title }}" class="img-fluid">
                            {% endif %}
                        </a>
                    </div>
                    <div class="post-details">
                        <div class="post-meta d-flex align-items-center justify-content-start">
                            <!-- <div class="date">{{post.post_date.strftime('%d %b, %Y')}}</div>
                            <a href="{{ url_for('blogging.posts_by_author', user_id=post.user_id)}}" class="author d-flex align-items-center flex-wrap">
                                <div class="title"><span>{{post.user_name}}</span></div>
                            </a> -->
                            <div class="d-flex align-items-center justify-content-start">
                                <i class="fas fa-user mx-2"></i>
                                <a href="{{ url_for('blogging.posts_by_author', user_id=post.user_id)}}">
                                    <div class="title"><span>{{post.user_name}}</span></div>
                                </a>
                                <div class="mx-2"> | </div>
                                <i class="fas fa-clock mr-2"></i>
                                <div class="date">{{post.post_date.strftime('%d %b, %Y')}}</div>
                            </div>
                            <div class="category ml-auto">
                                {% if post.tags %}
                                    <a href="{{ url_for('blogging.posts_by_tag', tag=post.tags[0].lower()) }}">{{ post.tags[0] }}</a>
                                {% endif %}
                            </div>
                        </div>
                        <a href="{{ post.url }}">
                            <h4 class="h4 font-weight-bold">{{ post.title }}</h4>
                        </a>
                        {% if post.meta.summary %}
                            <p class="text-muted">{{ post.meta.summary[0] }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>
