{% extends "blogging/base.html" %}

{% block title %}
    <title>Blog Posts</title>
{% endblock title %}

{% block blog_main %}
    {% if alert %}
        <div class="alert alert-{{alert.type}}">
            <strong>{{ alert.type }}</strong> {{ alert.message }}
        </div>
    {% endif %}

    <!-- Hero Section-->
    <section class="hero" style="background: url(/static/img/background/coins_fs_low.jpg); background-size: cover; background-position: center center">
        <div class="mask rgba-black-strong">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8">
                        <h1>CryptoFeeSaver Blog</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>










    <!-- LAYBOUT FOR 'BLOG INDEX' -->
    {% if not (meta.user_id or meta.tag) %}

        <!-- Intro Section-->
        <section class="intro">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xl-8">
                        <h2 class="h3">All about exchanges, wallets, DEXs and other crypto services</h2>
                        <p class="text-big">You've been around cryptos for some time now and you feel comfortable using exchanges and wallets. That's great.<br> From there, we want to help you <strong>take your knowledge to the next level</strong> by avoiding common misconceptions that are probably costing you money. Act smarter. Start today. Now.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Latest Posts -->
        <section class="latest-posts">
            <div class="container">
                <header>
                    <h2>Latest from the blog</h2>
                    <p class="text-big">Latest posts from our team and blog collaborators.</p>
                </header>
                <div class="row">

                    {% for post in posts %}
                        <div class="post col-sm-6 col-xl-4 mb-5">
                            <div class="post-thumbnail">
                                <a href="{{ post.url }}">
                                    {% if post.meta.images %}
                                        <img src="{{ post.meta.images[0] }}" alt="..." class="img-fluid">
                                    {% else %}
                                        <img src="/static/img/blog/coins_fs_low.jpg" alt="..." class="img-fluid">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="post-details">
                                <div class="post-meta d-flex justify-content-start">
                                    <div class="date">{{post.post_date.strftime('%d %b, %Y')}}</div>
                                    <a href="{{ url_for('blogging.posts_by_author', user_id=post.user_id)}}" class="author d-flex align-items-center flex-wrap">
                                        <div class="title"><span>{{post.user_name}}</span></div>
                                    </a>
                                    <div class="category ml-auto">
                                        {% if post.tags %}
                                            <a href="{{ url_for('blogging.posts_by_tag', tag=post.tags[0].lower()) }}">{{ post.tags[0] }}</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <a href="{{ post.url }}">
                                    <h3 class="h4">{{ post.title }}</h3>
                                </a>
                                {% if post.meta.summary %}
                                    <p class="text-muted">{{ post.meta.summary[0] }}</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>







    <!-- LAYBOUT FOR 'AUTHOR AND TAG INDEX'-->
    {% else %}
        <!-- Featured posts-->
        <section class="featured-posts">
            <div class="container">

                <header>
                    <!-- Intro for Author page -->
                    {% if meta.user_id %}
                        <h2>Posts from {{ meta.author|string }}</h2>
                        <p class="text-big">All post in our blog from {{ meta.author|string }}.</p>
                    {% else %}
                    <!-- Intro for Tag page -->
                        <h2>{{ meta.tag.upper() }}</h2>
                        <p class="text-big">All posts in our blog belonging to '{{ meta.tag.upper() }}' category.</p>
                    {% endif %}
                </header>

                {% set ns = namespace(post_count=1) %}
                {% for post in posts %}

                    {% if ns.post_count == 1 %}
                        <!-- Post template for Odd numbers-->
                        <div class="row d-flex align-items-stretch py-4">
                            <div class="text col-md-7">
                                <div class="text-inner d-flex align-items-center">
                                    <div class="content">
                                        <header class="post-header">
                                            <div class="category">
                                                <!-- article tags-->
                                                {% if post.tags %}
                                                    {% for tag in post.tags %}
                                                        <a href="{{ url_for('blogging.posts_by_tag', tag=tag.lower()) }}">{{ tag }}</a>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <a href="{{ post.url }}">
                                                <h2 class="h4">{{ post.title }}</h2>
                                            </a>
                                        </header>
                                        {% if post.meta.summary %}
                                            <p>{{ post.meta.summary[0] }}</p>
                                        {% endif %}
                                        <div class="post-footer d-flex align-items-center">
                                            <a href="{{ url_for('blogging.posts_by_author', user_id=post.user_id)}}" class="author d-flex align-items-center flex-wrap">
                                                <div class="title"><span>{{post.user_name}}</span></div>
                                            </a>
                                            <div class="date">{{post.post_date.strftime('%d %b, %Y')}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image col-md-5 d-flex align-items-center">
                                <a href="{{ post.url }}">
                                    {% if post.meta.images %}
                                        <img src="{{ post.meta.images[0] }}" alt="...">
                                    {% else %}
                                        <img src="/static/img/blog/coins_fs_low.jpg" alt="...">
                                    {% endif %}
                                    {% for image in post.meta.images %}
                                        <meta property="og:image" content="{{ image }}">
                                    {% endfor %}
                                </a>
                            </div>
                        </div>

                    {% else %}
                        <!-- Post template for Even numbers-->
                        <div class="row d-flex align-items-stretch my-5">
                            <div class="image col-md-5 d-flex align-items-center">
                                <a href="{{ post.url }}">
                                    {% if post.meta.images %}
                                        <img src="{{ post.meta.images[0] }}" alt="...">
                                    {% else %}
                                        <img src="/static/img/blog/coins_fs_low.jpg" alt="...">
                                    {% endif %}
                                    {% for image in post.meta.images %}
                                        <meta property="og:image" content="{{ image }}">
                                    {% endfor %}
                                </a>
                            </div>
                            <div class="text col-md-7">
                                <div class="text-inner d-flex align-items-center">
                                    <div class="content">
                                        <header class="post-header">
                                            <div class="category">
                                                <!-- article tags-->
                                                {% if post.tags %}
                                                    {% for tag in post.tags %}
                                                        <a href="{{ url_for('blogging.posts_by_tag', tag=tag.lower()) }}">{{ tag }}</a>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <a href="{{ post.url }}">
                                                <h2 class="h4">{{ post.title }}</h2>
                                            </a>
                                        </header>
                                        {% if post.meta.summary %}
                                            <p>{{ post.meta.summary[0] }}</p>
                                        {% endif %}
                                        <div class="post-footer d-flex align-items-center">
                                            <a href="{{ url_for('blogging.posts_by_author', user_id=post.user_id)}}" class="author d-flex align-items-center flex-wrap">
                                                <div class="title"><span>{{post.user_name}}</span></div>
                                            </a>
                                            <div class="date">{{post.post_date.strftime('%d %b, %Y')}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% set ns.post_count = (ns.post_count + 1) % 2 %}
                {% endfor %}

            </div>
        </section>
    {% endif %}




{% endblock blog_main %}

{% block extrajs %}
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/blog_index.js') }}"></script>
{% endblock extrajs %}
