{% extends "blogging/base.html" %}

{% block title %}
    <title>Blog Posts</title>
{% endblock title %}

{% block blog_main %}
    {% if alert %}
        <div class="alert alert-{{alert.type}}">
            <strong>{{ alert.type }}</strong> {{ alert.message }}
        </div>
    {% endif %}

    <!-- Hero Section-->
    <section class="hero open-sans-font section-padding-2rem" style="background: url(/static/img/background/coins_fs_low.jpg); background-size: cover; background-position: center center">
        <div class="mask-rgba-black-strong">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8">
                        <a class="no-link-format" href="/blog"><h1 class="font-weight-bold">CryptoFeeSaver Blog</h1></a>
                    </div>
                </div>
            </div>
        </div>
    </section>










    <!-- LAYOUT FOR 'BLOG INDEX' -->
    {% if meta is defined %}
        {% if not (meta.user_id or meta.tag) %}
            <!-- Intro Section-->
            <section class="intro open-sans-font section-padding-2rem">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-8">
                            <h2 class="font-weight-bold">About Blockchain tech, exchanges, wallets, and other crypto services</h2>
                            <p class="text-big">You've been around cryptos for some time now and you feel comfortable using exchanges and wallets. That's great.<br> From there, we want to <strong>help you take your knowledge to the next level</strong> by avoiding common misconceptions that are probably costing you money. Act smarter. Start today. Now.</p>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endif %}

    <!-- Latest Posts -->
    <div class="open-sans-font section-padding-2rem">
        {% include 'blogging/_blog_posts.html' %}
    </div>





{% endblock blog_main %}

{% block extrajs %}
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/blog.js') }}"></script>
{% endblock extrajs %}
