<title>{{ title }}</title>
<meta name="description" content="{{ description }}"/>

<meta property="og:title" content="{{ title }}" />
<meta property="og:url" content="{{ request.url }}" />
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="https://www.cryptofeesaver.com/static/img/blog/search_canvas.jpg">
<meta property="og:type" content="website" />
<!-- Specific tags for Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@SaverFee" />
<meta name="twitter:creator" content="@SaverFee" />
