    <!--Section: Search Canvas-->
    <section id="search-canvas">
        <div class="mask rgba-black-strong">

            <div class="container py-4 py-md-5">

                <h2 class="mt-0 mt-xl-4 mb-2 font-weight-bold text-center">Cryptoasset exchange engine</h2>

                <h5 class="text-center my-4 mb-xl-5">Find the cheapest way to buy or exchange cryptoassets</h5>

                <div class="row no-gutters d-flex justify-content-center">
                    <div class="col-12 col-md-10 col-lg-11 col-xl-12">

                            <form id="search-form" method="POST" action="{{ url_for('exch_results', url_orig_coin=url_orig_coin, url_dest_coin=url_dest_coin) }}">
                                {{ form.hidden_tag() }}
                                <div class="row d-flex justify-content-between no-gutters">
                                    <!-- <fieldset class="form-group"> -->
                                        <div class="col-12 col-xl-6 mb-3 pr-xl-4">
                                            <div class="d-flex align-items-center justify-content-start">
                                                <p class="large-font font-weight-bold mb-1 mb-lg-2">From</p>
                                                <a class="no-link-tooltip text-right ml-2 mb-1" href="#" data-toggle="tooltip" data-html="true" data-placement="top" title="<em><b>Origin details: (1)</b> Amount of the original coin you want to exchange; <b>(2)</b> The coin (either fiat or crypto) to be exchanged; and <b>(3)</b> The place from where to start the operation (i.e. where you have the coins now).</em>">
                                                    <i class="fas fa-info-circle grey-text"></i>
                                                </a>
                                            </div>
                                            <div class="row d-flex justify-content-start no-gutters">
                                                <!-- Currency (HIDDEN TO USER) -->
                                                <div class="col-12 d-none">
                                                    <div class="form-group mb-0">
                                                        {{ form.currency(class="form-control", type="text", placeholder="Location", autocomplete="off") }}
                                                    </div>
                                                </div>
                                                <!-- Origin amount -->
                                                <div class="col-4 pr-1 pr-sm-2">
                                                    <div class="form-group mb-0">
                                                        {% if form.orig_amt.errors %}
                                                            {{ form.orig_amt(class="form-control track-filled is-invalid", autocomplete="off", spellcheck="false") }}
                                                            <div class="invalid-feedback">
                                                                {% for error in form.orig_amt.errors %}
                                                                    <span>{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                        {% else %}
                                                            {{ form.orig_amt(class="form-control track-filled", placeholder="Amount", autocomplete="off", spellcheck="false") }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <!-- Origin coin -->
                                                <div class="col-4 pr-1 pr-sm-2">
                                                    <div id="input-orig-coin" class="form-group mb-0">
                                                        {% if form.orig_coin.errors %}
                                                            {{ form.orig_coin(class="form-control track-filled typeahead is-invalid", type="text", autocomplete="off", spellcheck="false") }}
                                                            <div class="invalid-feedback">
                                                                {% for error in form.orig_coin.errors %}
                                                                    <span>{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                        {% else %}
                                                            {{ form.orig_coin(class="form-control track-filled typeahead", type="text", placeholder="Coin", autocomplete="off", spellcheck="false") }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <!-- Origin location -->
                                                <div class="col-4 pr-1 pr-sm-2">
                                                    <div id="input-orig-loc" class="form-group mb-0">
                                                        {% if form.orig_loc.errors %}
                                                            {{ form.orig_loc(class="form-control track-filled typeahead is-invalid", type="text", autocomplete="off", spellcheck="false") }}
                                                            <div class="invalid-feedback">
                                                                {% for error in form.orig_loc.errors %}
                                                                    <span>{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                        {% else %}
                                                            {{ form.orig_loc(class="form-control track-filled typeahead", type="text", placeholder="Location", autocomplete="off", spellcheck="false") }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-8 col-xl-4 mb-3">
                                            <div class="d-flex align-items-center justify-content-start">
                                                <p class="large-font font-weight-bold mb-1 mb-lg-2">To</p>
                                                <a class="no-link-tooltip text-right ml-2 mb-1" href="#" data-toggle="tooltip" data-html="true" data-placement="top" title="<em><b>Destination details: (1)</b> The coin (either fiat or crypto) you want to buy; and <b>(2)</b> The place where you want to store the coin after performing the operation.</em>">
                                                    <i class="fas fa-info-circle grey-text"></i>
                                                </a>
                                            </div>
                                            <div class="row d-flex justify-content-start no-gutters">
                                                <!-- Destination coin -->
                                                <div class="col-6 pr-1 pr-sm-2">
                                                    <div id="input-dest-coin" class="form-group mb-0">
                                                        {% if form.dest_coin.errors %}
                                                            {{ form.dest_coin(class="form-control track-filled typeahead is-invalid", type="text", autocomplete="off", spellcheck="false") }}
                                                            <div class="invalid-feedback">
                                                                {% for error in form.dest_coin.errors %}
                                                                    <span>{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                        {% else %}
                                                            {{ form.dest_coin(class="form-control track-filled typeahead", type="text", placeholder="Coin", autocomplete="off", spellcheck="false") }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <!-- Destination location -->
                                                <div class="col-6 pr-1 pr-sm-2">
                                                    <div id="input-dest-loc" class="form-group mb-0">
                                                        {% if form.dest_loc.errors %}
                                                            {{ form.dest_loc(class="form-control track-filled typeahead is-invalid", type="text", autocomplete="off", spellcheck="false") }}
                                                            <div class="invalid-feedback">
                                                                {% for error in form.dest_loc.errors %}
                                                                    <span>{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                        {% else %}
                                                            {{ form.dest_loc(class="form-control track-filled typeahead", type="text", placeholder="Location", autocomplete="off", spellcheck="false") }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- </fieldset> -->
                                        <div class="col-4 col-xl-2 d-flex justify-content-center align-items-start" style="margin-top: 2rem">
                                            <div class="form-group mb-0">
                                                {{ form.search_submit(id="submit-btn", class="btn btn-deep-orange m-0") }}
                                            </div>
                                        </div>
                                    </div>





                            <!-- Connecting Options -->
                            <div class="row no-gutters mt-1 mt-lg-2">
                                <div class="col d-flex justify-content-start">
                                    <a class="text-white collapse-animation" data-toggle="collapse" href="#options-collapse" role="button" aria-expanded="false" aria-controls="options-collapse">
                                        <div class="d-block d-flex align-items-center">
                                            <span class="large-font">Search options</span>
                                            <i class="fas fa-chevron-down px-2"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div id="options-collapse" class="collapse my-2">
                                <div id="options" class="row pt-2">
                                    <div class="col">
                                        <!-- Connections radio button -->
                                        <div class="row">
                                            <div class="col-auto pr-0">
                                                <p class="font-weight-bold fixed-min-width">Connections</p>
                                            </div>
                                            <div class="col pl-0 d-flex justify-content-start">
                                                <div class="form-group">
                                                    {% for subfield in form.connection_type %}
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <td>{{ subfield(class="custom-control-input") }}</td>
                                                            <td>{{ subfield.label(class="custom-control-label") }}</td>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Default fee option -->
                                        <div class="row">
                                            <div class="col-auto pr-0">
                                                <p class="font-weight-bold fixed-min-width">Default fee</p>
                                            </div>
                                            <div class="col pl-0 d-flex justify-content-start">
                                                <div class="form-group">
                                                    <div class="row no-gutters">
                                                        {% for subfield in form.default_fee %}
                                                            <div class="col-12 col-sm-auto">
                                                                <div class="custom-control custom-radio custom-control-inline">
                                                                    <td>{{ subfield(class="custom-control-input") }}</td>
                                                                    <td>{{ subfield.label(class="custom-control-label") }}</td>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Exchanges checkboxes -->
                                        <div id="exchange-options"class="row">
                                            <div class="col-auto pt-1 pr-0">
                                                <p class="font-weight-bold fixed-min-width">Exchanges</p>
                                            </div>
                                            <!-- Real form field. Not displayed, filled with JS -->
                                            <div class="form-group d-none">
                                                {{ form.exchanges(size=40) }}
                                            </div>
                                            <!-- Exchanges checkboxes. Used to populate form -->
                                            <div class="col pl-0">
                                                <div class="row no-gutters">
                                                    <div class="col">
                                                        <button id="select-all-btn" type="button" class="btn btn-dark-grey ml-0 px-2 py-1">Select All</button>
                                                        <button id="deselect-all-btn" type="button" class="btn btn-dark-grey px-2 py-1">Clear All</button>
                                                    </div>
                                                </div>
                                                <div class="row no-gutters">
                                                    {% for exch in exchanges %}
                                                        <div class="col-4 col-lg-3 col-xl-2">
                                                            <div class="custom-control custom-checkbox">
                                                                {% if exch.id in user_exchanges %}
                                                                    <input type="checkbox" class="custom-control-input" id="exch-{{ exch.id }}" checked>
                                                                {% else %}
                                                                    <input type="checkbox" class="custom-control-input" id="exch-{{ exch.id }}">
                                                                {% endif %}
                                                                <label class="custom-control-label" for="exch-{{ exch.id }}">{{ exch.name }}</label>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Fees options -->
                                <div class="row no-gutters mt-2 mt-lg-3">
                                    <div class="col d-flex justify-content-start">
                                        <a class="text-white collapse-animation" data-toggle="collapse" href="#fee-options-collapse" role="button" aria-expanded="false" aria-controls="fee-options-collapse">
                                            <div class="d-block d-flex align-items-center">
                                                <span>Fee settings</span>
                                                <i class="fas fa-chevron-down px-2"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div id="fee-options-collapse" class="collapse my-2">
                                    <div id="fee-options" class="row pt-2">
                                        <div class="col">
                                            <!-- CEP promos -->
                                            <div class="row">
                                                <div class="col-auto pr-0">
                                                    <p class="font-weight-bold fixed-min-width">Site Promos</p>
                                                </div>
                                                <div class="col pl-0 d-flex justify-content-start">
                                                    <div class="form-group">
                                                        <div class="row no-gutters">
                                                            {% for subfield in form.cep_promos %}
                                                                <div class="col-12 col-sm-auto">
                                                                    <div class="custom-control custom-radio custom-control-inline">
                                                                        <td>{{ subfield(class="custom-control-input") }}</td>
                                                                        <td>{{ subfield.label(class="custom-control-label") }}</td>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Binance fees option -->
                                            <div class="row">
                                                <div class="col-auto pr-0">
                                                    <p class="font-weight-bold fixed-min-width">Binance fees</p>
                                                </div>
                                                <div class="col pl-0 d-flex justify-content-start">
                                                    <div class="form-group">
                                                        <div class="row no-gutters">
                                                            {% for subfield in form.binance_fee %}
                                                                <div class="col-12 col-sm-auto">
                                                                    <div class="custom-control custom-radio custom-control-inline">
                                                                        <td>{{ subfield(class="custom-control-input") }}</td>
                                                                        <td>{{ subfield.label(class="custom-control-label") }}</td>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
