{% extends "layout.html" %}


{% block style %}
{% endblock style %}


{% block activepage %}
    <div id="navlink-selector" class="d-none" data-active="nav-link-feeexplorer"></div>
{% endblock activepage %}


{% block main %}

    <section class="exchange-fees-hero">
        <div class="mask-rgba-black-strong">

            <!-- Heading -->
            <h1 class="font-weight-bold text-center py-4 mx-3 my-0">{{ exchange }}<br><small>Deposit, Trading & Withdrawal fees</small></h1>

        </div>

    </section>

    <section class="d-none d-md-block exchange-fees-text section-padding-2rem">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-lg-10 col-xl-10">
                    <div class="lead mb-0 mb-lg-3">
                        {{ trading_text }}
                        {{ withdrawal_text }}
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--Section: Trading Fees-->
    <section class="exchange-fees">

        <h2 class="pt-5 pt-md-0 mb-4 px-3 text-center font-weight-bold">{{ exchange }} Trading fees</h2>

        <div class="container">

            <div class="row d-flex justify-content-center">
                <div class="col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4 text-center">
                    <table class="table">
                        <tbody>
                            {% for fee in trading_fees %}
                                <tr>
                                    <th scope="row">{{ fee["scope"] }}</th>
                                    <td>{{ fee["amount"] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </section>

    <!--Section: Deposit & Withdrawal Fees-->
    <section class="exchange-fees section-padding-2rem">

        <h2 class="px-3 mb-4 text-center font-weight-bold">{{ exchange }} Deposit & Withdrawal fees</h2>

        <div class="container">

            <div class="row d-flex justify-content-center pb-4">

                <div class="col-12 col-sm-11 col-md-8 col-lg-6 col-xl-5">

                    <table class="table table-hover exch-table">
                        <thead class="">
                            <tr>
                                <th scope="col"></th>
                                <th class="align-right" scope="col">Deposit fees</th>
                                <th class="align-right" scope="col">Withdrawal fees</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fee in dep_with_fees %}
                                <tr>
                                    <th scope="row" class="align-middle">
                                        <div class="d-flex align-items-center">
                                            <img class=" mr-3 img-coin" src="/static/img/coins/64/{{ fee['coin'].local_fn }}" alt="{{ fee['coin'].long_name }} logo">
                                            <a class="no-link-format" href="{{ url_for('exchange_fees_by_coin', coin_id=fee['coin'].id) }}">{{ fee["coin"].long_name }}</a>
                                        </div>
                                    </th>
                                    <td class="align-middle align-right">
                                        {% if fee["deposit"]["comments"] %}
                                            <a class="no-link-tooltip text-right" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ fee['deposit']['comments'] }}">
                                                <span class="dotted-underline">{{ fee["deposit"]["amount"] }}</span>
                                            </a>
                                        {% else %}
                                            {{ fee["deposit"]["amount"] }}
                                        {% endif %}
                                    </td>
                                    <td class="align-middle align-right">
                                        {{ fee["withdrawal"]["amount"] }}
                                        {% if fee["withdrawal"]["comments"] %}
                                            <a class="no-link-tooltip text-right" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ fee['withdrawal']['comments'] }}">
                                                <i class="fas fa-info-circle grey-color"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <a class="no-link-format" href="{{ url_for('exchange_fees_exch') }}">
                        <div class="lead text-center font-weight-bold indigo-color">Check fees for another Exchange</div>
                    </a>

                    <a class="no-link-format" href="{{ url_for('exchange_fees_coin') }}">
                        <div class="text-center font-weight-bold indigo-color pt-2">Check fees by Crypto</div>
                    </a>

                </div>

            </div>
        </div>

    </section>


    <!-- Back to top button -->
    <section id="back-to-top-btn">
        <a id="myBtn" class="" href="#">
            <i class="fas fa-chevron-circle-up fa-3x"></i>
        </a>
    </section>

{% endblock main %}









{% block js %}
    <!-- typeahead -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap3-typeahead.min.js') }}"></script>
    <!-- Site styles -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <!-- Tests -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/tests.js') }}"></script> -->
{% endblock %}
