{% extends "layout.html" %}


{% block style %}
    <!-- Your custom styles -->
    <link href="{{ url_for('static', filename='css/exch_search.css') }}" rel="stylesheet">
{% endblock style %}


{% block activepage %}
    <div id="navlink-selector" class="d-none" data-active="nav-link-exchanges"></div>
{% endblock activepage %}


{% block main %}









    {% include '_search_canvas_sm_exch.html' %}













    <!--Section: Top-Coins-->
    <section id="top-coins" class="text-center section-padding-4rem">

        <!-- Heading -->
        <h2 class="mb-3 mb-md-4 font-weight-bold">Trending Searches</h2>

        <div class="container">

            <div class="row d-flex justify-content-center mb-4">
                <div class="col-12 col-md-10 col-lg-9 col-xl-8 text-center">
                    <p class="lead mb-0 mb-lg-3">Check out what other users are searching in our Crypto Exchange Search Engine these past days. You might be missing something... :)</p>
                </div>
            </div>

            <div class="transparent-card card-deck">
                <div class="card">
                    <div class="card-body">
                        <div class="d-inline-block d-flex justify-content-center align-items-center">
                            <img src="/static/img/coins/64/dollar.png" alt="US Dollar logo" height="64" width="64">
                            <i class="fas fa-exchange-alt fa-lg px-1 px-md-3" aria-hidden="true"></i>
                            <img src="/static/img/coins/64/19633_btc.png" alt="Bitcoin logo" height="64" width="64">
                        </div>
                        <h5 class="font-weight-bold pt-2 pt-sm-3 m-0">US Dollar to Bitcoin</h5>
                    </div>
                    <div class="card-footer">
                        <a class="trending-searches-btn select-btn btn btn-indigo-dark btn-rounded" href="{{ url_for('exch_results', url_orig_coin='USD', url_dest_coin='BTC', _external=True) }}" role="button" data-click="USD+BTC">Search</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="d-inline-block d-flex justify-content-center align-items-center">
                            <img src="/static/img/coins/64/dollar.png" alt="US Dollar logo" height="64" width="64">
                            <i class="fas fa-exchange-alt fa-lg px-1 px-md-3" aria-hidden="true"></i>
                            <img src="/static/img/coins/64/34477776_xrp.png" alt="XRP logo" height="64" width="64">
                        </div>
                        <h5 class="font-weight-bold pt-2 pt-sm-3 m-0">US Dollar to XRP</h5>
                    </div>
                    <div class="card-footer">
                        <a class="trending-searches-btn select-btn btn btn-indigo-dark btn-rounded" href="{{ url_for('exch_results', url_orig_coin='USD', url_dest_coin='XRP') }}" role="button" data-click="USD+XRP">Search</a>
                    </div>
                </div>
                <div class="w-100 d-none d-sm-block d-lg-none"><!-- wrap every 2 on sm--></div>
                <div class="card">
                    <div class="card-body">
                        <div class="d-inline-block d-flex justify-content-center align-items-center">
                            <img src="/static/img/coins/64/20646_eth_logo.png" alt="Ethereum logo" height="64" width="64">
                            <i class="fas fa-exchange-alt fa-lg px-1 px-md-3" aria-hidden="true"></i>
                            <img src="/static/img/coins/64/19969_xmr.png" alt="Monero logo" height="64" width="64">
                        </div>
                        <h5 class="font-weight-bold pt-2 pt-sm-3 m-0">Ethereum to Monero</h5>
                    </div>
                    <div class="card-footer">
                        <a class="trending-searches-btn select-btn btn btn-indigo-dark btn-rounded" href="{{ url_for('exch_results', url_orig_coin='ETH', url_dest_coin='XMR', _external=True) }}" role="button" data-click="ETH+XMR">Search</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="d-inline-block d-flex justify-content-center align-items-center">
                            <img src="/static/img/coins/64/19633_btc.png" alt="Bitcoin logo" height="64" width="64">
                            <i class="fas fa-exchange-alt fa-lg px-1 px-md-3" aria-hidden="true"></i>
                            <img src="/static/img/coins/64/euro.png" alt="Euro logo" height="64" width="64">
                        </div>
                        <h5 class="font-weight-bold pt-2 pt-sm-3 m-0">Bitcoin to Euro</h5>
                    </div>
                    <div class="card-footer">
                        <a class="trending-searches-btn select-btn btn btn-indigo-dark btn-rounded" href="{{ url_for('exch_results', url_orig_coin='BTC', url_dest_coin='EUR', _external=True) }}" role="button" data-click="BTC+EUR">Search</a>
                    </div>
                </div>
            </div>

        </div>

    </section>






    <!--Section: Popular Exchanges-->
    <section id="popular-exchanges" class="text-center light-gray-bg section-padding-4rem">

        <!-- Heading -->
        <h2 class="mb-3 mb-md-4 font-weight-bold">Popular Exchanges</h2>

        <div class="container">

            <div class="row d-flex justify-content-center mb-4">
                <div class="col-12 col-md-10 col-lg-9 col-xl-8 text-center">
                    <p class="lead mb-0 mb-lg-3">Crypto exchange sites operate in a highly unregulated environment. Always proceed with caution and do your own research before depositing funds in any platform. These are the top-3 sites picked by our users.</p>
                </div>
            </div>

            <div class="transparent-card card-deck">
                <div class="card">
                    <div class="card-body">
                        <img src="/static/img/exchanges/64/Coinbase.png" alt="Coinbase PRO logo" height="64" width="64">
                        <h4 class="my-2 font-weight-bold">Coinbase PRO</h4>
                        <p class="dark-grey-color mb-0">Coinbase is the most popular site to buy cryptos with fiat money. Register using an <a class="referral-popular-exch promo-link" href="https://www.coinbase.com/join/5b850192be8c8506e5572fb0" target="_blank" role="button" data-exch="Coinbase PRO">affiliate link</a> and earn $10 of free Bitcoin.</p>
                    </div>
                    <div class="card-footer">
                        <a class="referral-popular-exch btn btn-indigo-dark btn-rounded select-btn" href="https://www.coinbase.com/join/5b850192be8c8506e5572fb0" target="_blank" role="button" data-exch="Coinbase PRO">Sign up</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img src="/static/img/exchanges/transp/Binance.png" alt="Binance logo" height="64" width="64">
                        <h4 class="my-2 font-weight-bold">Binance</h4>
                        <p class="dark-grey-color mb-0">Binance is currently the exchange site with highest volume. Its trading fees are very competitive and supperts a very wide range of cryptoassets.</p>
                    </div>
                    <div class="card-footer">
                        <a class="referral-popular-exch btn btn-indigo-dark btn-rounded select-btn" href="https://www.binance.com/?ref=11020500" target="_blank" role="button" data-exch="Binance">Sign up</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img src="/static/img/exchanges/transp/Huobi.png" alt="Huobi logo" height="64" width="64">
                        <h4 class="my-2 font-weight-bold">Huobi</h4>
                        <p class="dark-grey-color mb-0">The Singapore-based exchange already ranks among the top-three sites in trading volume, and offers its services worldwide in up to 15 different languages.</p>
                    </div>
                    <div class="card-footer">
                        <a class="referral-popular-exch btn btn-indigo-dark btn-rounded select-btn" href="https://www.hbg.com/en-us/topic/invited/?invite_code=6gtv3" target="_blank" role="button" data-exch="Huobi">Sign up</a>
                    </div>
                </div>
            </div>

        </div>

    </section>








    <!-- Latest Posts -->
    <div class="section-padding-4rem">
        {% include 'blogging/_blog_posts.html' %}
    </div>



{% endblock main %}









{% block js %}
    <!-- typeahead -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap3-typeahead.min.js', _external=True) }}"></script>
    <!-- Site styles -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js', _external=True) }}"></script>
    <!-- Tests -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/tests.js') }}"></script> -->
{% endblock %}
