{% extends "layout.html" %}


{% block style %}
{% endblock style %}


{% block activepage %}
    <div id="navlink-selector" class="d-none" data-active="nav-link-exchangefees"></div>
{% endblock activepage %}

{% block og_image %}
<meta property="og:image" content="https://www.cryptofeesaver.com/static/img/blog/tags/cfs_fees_exchange.jpg">
<meta name="twitter:image" content="https://www.cryptofeesaver.com/static/img/blog/tags/cfs_fees_exchange_landscape.jpg">
{% endblock og_image %}


{% block main %}

    <section class="exchange-fees-hero">
        <div class="mask-rgba-black-strong">

            <!-- Heading -->
            <h1 class="font-weight-bold text-center pt-4 px-3 my-0">{{ exchange.name }} Fees</h1>
            <div class="subtitle text-center pt-2 pb-4 px-3 my-0">Deposit, Trading & Withdrawal fees</div>

        </div>

    </section>


    <!--Section: Exchange detail-->
    <section class="exchange-detail section-padding-2rem">

        {% if exch_data %}

            <div class="container">

                <h2 class="text-center font-weight-bold">{{ exchange.name }} Exchange</h2>

                <!-- Exch description -->
                {% if exch_data["description"] %}
                    <div class="row d-flex justify-content-center mt-3">
                        <div class="col-12 col-lg-11 col-xl-10 text-center">
                            <p class="lead mb-0 mb-sm-2">{{ exch_data["description"] }}</p>
                        </div>
                    </div>
                {% endif %}

                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-lg-10 col-xl-9 px-2">

                        <!-- EXCHANGE INFORMATION TABLE -->
                        <div class="row no-gutters mt-3">
                            <div class="col-6 col-md-3 mt-2 pb-md-3 pl-3 pl-md-0">
                                <div class="d-flex flex-column">
                                    <span class="text-center grey-border-bottom font-weight-bold">Rank</span>
                                    {% if exch_data["adjusted_rank"] %}
                                        <span class="text-center">{{ exch_data["adjusted_rank"] }}</span>
                                    {% else %}
                                        <span class="text-center">-</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-6 col-md-3 mt-2 pb-md-3 pl-3 pl-md-0">
                                <div class="d-flex flex-column">
                                    <span class="text-center grey-border-bottom font-weight-bold">Website</span>
                                    {% if exch_data["links"]["website"] %}
                                        <div class="text-center">
                                            <div><a class="" href='{{ exch_data["links"]["website"]["site_url"] }}' rel="nofollow" target="_blank">{{ exch_data["links"]["website"]["clean_url"] }}</a></div>
                                        </div>
                                    {% else %}
                                        <span class="text-center">-</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-6 col-md-3 mt-2 pb-md-3 pl-3 pl-md-0">
                                <div class="d-flex flex-column">
                                    <span class="text-center grey-border-bottom font-weight-bold">Twitter</span>
                                    {% if exch_data["links"]["twitter"] %}
                                        <div class="text-center">
                                            {% for item in exch_data["links"]["twitter"] %}
                                                <div><a class="" href="{{ item }}" rel="nofollow" target="_blank">{{ item.replace("https://twitter.com/", "") }}</a></div>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <span class="text-center">-</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-6 col-md-3 mt-2 pb-md-3 pr-3 pr-md-0">
                                <div class="d-flex flex-column">
                                    <span class="text-center grey-border-bottom font-weight-bold">Fiats</span>
                                    {% if exch_data["fiats"] %}
                                        <span class="text-center">
                                        {% for item in exch_data["fiats"] %}
                                            {{ item["symbol"] }}
                                        {% endfor %}
                                        </span>
                                    {% else %}
                                        <span class="text-center">-</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-6 col-md-3 mt-2 pb-md-3 pr-3 pr-md-0">
                                <div class="d-flex flex-column">
                                    <span class="text-center grey-border-bottom font-weight-bold">Volume</span>
                                    {% if exch_data["quotes"]["USD"]["reported_volume_24h"] %}
                                        <span class="text-center">{{ exch_data["quotes"]["USD"]["reported_volume_24h"] }}</span>
                                    {% else %}
                                        <span class="text-center">-</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-6 col-md-3 mt-2 pb-md-3 pr-3 pr-md-0">
                                <div class="d-flex flex-column">
                                    <span class="text-center grey-border-bottom font-weight-bold">Volume (Adj.)</span>
                                    {% if exch_data["quotes"]["USD"]["adjusted_volume_24h"] %}
                                        <span class="text-center">{{ exch_data["quotes"]["USD"]["adjusted_volume_24h"] }}</span>
                                    {% else %}
                                        <span class="text-center">-</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-6 col-md-3 mt-2 pb-md-3 pr-3 pr-md-0">
                                <div class="d-flex flex-column">
                                    <span class="text-center grey-border-bottom font-weight-bold"># Cryptos</span>
                                    {% if exch_data["currencies"] %}
                                        <span class="text-center">{{ exch_data["currencies"] }}</span>
                                    {% else %}
                                        <span class="text-center">-</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-6 col-md-3 mt-2 pb-md-3 pr-3 pr-md-0">
                                <div class="d-flex flex-column">
                                    <span class="text-center grey-border-bottom font-weight-bold"># Markets</span>
                                    {% if exch_data["markets"] %}
                                        <span class="text-center">{{ exch_data["markets"] }}</span>
                                    {% else %}
                                        <span class="text-center">-</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        {% endif %}

    </section>

    <!--Section: Trading Fees-->
    <section class="exchange-fees mt-2 mt-sm-0">

        <h2 class="mb-3 mb-sm-4 px-3 text-center font-weight-bold">{{ exchange.name }} Trading fees</h2>

        <div class="container">

            <div class="row d-flex justify-content-center">
                <div class="col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4 text-center">
                    <table class="table">
                        <tbody>
                            {% for fee in trading_fees %}
                                <tr>
                                    <th scope="row">{{ fee["scope"] }}</th>
                                    <td>{{ fee["amount"] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </section>

    <!--Section: Deposit & Withdrawal Fees-->
    <section class="exchange-fees section-padding-2rem">

        <h2 class="px-3 mb-4 text-center font-weight-bold">{{ exchange.name }} Deposit & Withdrawal fees</h2>

        <div class="container">

            <div class="row d-flex justify-content-center pb-4">

                <div class="col-12 col-md-9 col-lg-7 col-xl-6">

                    <table class="table table-hover exch-table">
                        <thead class="">
                            <tr>
                                <th scope="col"></th>
                                <th class="align-right" scope="col">Deposit fees</th>
                                <th class="align-right" scope="col">Withdrawal fees</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fee in dep_with_fees %}
                                <tr>
                                    <th scope="row" class="align-middle">
                                        <div class="d-flex align-items-center">
                                            <img class=" mr-3 img-coin" src="/static/img/coins/64/{{ fee['coin'].local_fn }}" alt="{{ fee['coin'].long_name }} logo">
                                            <a class="no-link-format" href="{{ url_for('exchange_fees_by_coin', coin_url_name=fee['coin'].url_name, _external=True) }}">{{ fee["coin"].long_name }}</a>
                                        </div>
                                    </th>
                                    <td class="align-middle align-right">
                                        {% if fee["deposit"]["comments"] %}
                                            <a class="no-link-tooltip text-right" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ fee['deposit']['comments'] }}">
                                                <span class="dotted-underline">{{ fee["deposit"]["amount"] }}</span>
                                            </a>
                                        {% else %}
                                            {{ fee["deposit"]["amount"] }}
                                        {% endif %}
                                    </td>
                                    <td class="align-middle align-right">
                                        {{ fee["withdrawal"]["amount"] }}
                                        {% if fee["withdrawal"]["comments"] %}
                                            <a class="no-link-tooltip text-right" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ fee['withdrawal']['comments'] }}">
                                                <i class="fas fa-info-circle grey-color"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <a class="no-link-format" href="{{ url_for('exchange_fees_exch', _external=True) }}">
                        <div class="lead text-center font-weight-bold indigo-color">Check fees for another Exchange</div>
                    </a>

                    <a class="no-link-format" href="{{ url_for('exchange_fees_coin', _external=True) }}">
                        <div class="text-center font-weight-bold indigo-color pt-2">Check fees by Crypto</div>
                    </a>

                </div>

            </div>
        </div>

    </section>

    <!--Section: Exchange Fees Review-->
    <section class="exchange-fees-text light-gray-bg section-padding-2rem">
        <h2 class="px-3 mb-4 text-center font-weight-bold">{{ exchange.name }} Fees Review</h2>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-lg-10 col-xl-10">
                    <div class="lead mb-0 mb-lg-3">
                        {{ trading_text }}
                        {{ withdrawal_text }}
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--Section: Exchange Promotions-->
    {% if promos %}
    <section class="exchange-promos section-padding-2rem">
        <h2 class="px-3 text-center font-weight-bold">{{ exchange.name }} Promotions</h2>
        <div class="container pb-4">

            <div class="row d-flex justify-content-center">
                <div class="col-12 col-xl-10">
                    <!-- Row for each promo -->
                    {% for promo in promos %}
                        <div class="card my-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <img class="img-buy-coin mr-2" src="/static/img/exchanges/64/{{ promo['exchange'].img_fn }}" alt="promo['exchange'].name logo">
                                    <div class="col">
                                        <h3>{{ promo['exchange'].name }}</h3>
                                        <p class="promo-text">Use <a class="ga-exchange-redirects promo-link" href="{{ promo['exchange'].site_url }}" rel="nofollow" target="_blank" data-exch="{{ promo['exchange'].name }}" data-location="URL: {{ request.path }} [link]">this link</a> {{ promo['promo_text'] }}</p>
                                    </div>
                                    <a class="ga-exchange-redirects d-none d-sm-block select-btn btn btn-indigo-dark m-0 py-2" href="{{ promo['exchange'].site_url }}" rel="nofollow" target="_blank" role="button" data-exch="{{ promo['exchange'].name }}" data-location="URL: {{ request.path }} [button]">Use promo</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Sign-up to get alerts -->
            <div class="lead text-center font-weight-bold font-italic">Get alerts when new promos are available for you:</div>

            <form id="promo-form" class="form-inline mt-3 align-items-center justify-content-center" method="POST" action="">
                {{ promo_form.hidden_tag() }}
                <div class="form-group mr-3">
                    {% if promo_form.email.errors %}
                        {{ promo_form.email(id="promo-email", class="form-control form-control-lg is-invalid", type="email") }}
                        <div class="invalid-feedback">
                            {% for error in promo_form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ promo_form.email(id="promo-email", class="form-control form-control-lg", type="email", placeholder="name@example.com") }}
                    {% endif %}
                </div>
                <div class="form-group" data-type="Promotions" data-location="URL: {{ request.path }} ">
                    {{ promo_form.promo_submit(class="ga-suscription btn btn-primary py-2") }}
                </div>
            </form>

        </div>
    </section>
    {% endif %}




    <!-- Back to top button -->
    <section id="back-to-top-btn">
        <a id="myBtn" class="" href="#">
            <i class="fas fa-chevron-circle-up fa-3x"></i>
        </a>
    </section>

{% endblock main %}








{% block js %}
    <!-- typeahead -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap3-typeahead.min.js', _external=True) }}"></script>
    <!-- Site styles -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js', _external=True) }}"></script>
{% endblock %}
