{% extends "layout.html" %}


{% block style %}
    <!-- Your custom styles -->
    <link href="{{ url_for('static', filename='css/exch_search.css') }}" rel="stylesheet">
{% endblock style %}


{% block title %}
    {% if title %}
        <title>CryptoFeeSaver | The Crypto Search Engine that helps you save money</title>
    {% else %}
        <title>CryptoFeeSaver | The Crypto Search Engine that helps you save money</title>
    {% endif %}
{% endblock title %}


{% block activepage %}
    <div id="navlink-selector" class="d-none" data-active="nav-link-exchanges"></div>
{% endblock activepage %}


{% block main %}

    {% include '_search_canvas_easy.html' %}


    <!--Section: Top-Coins-->
    <section id="top-coins" class="text-center">

        <!-- Heading -->
        <h2 class="mt-4 mt-sm-5 mb-3 mb-sm-4 font-weight-bold">Trending Searches</h2>

        <div class="container px-2">

            <div class="row no-gutters mt-4 mt-lg-5">

                <div class="col-3 px-2 px-lg-3">
                    <div class="d-inline-block d-flex justify-content-center align-items-center">
                        <img class="img-trending-coin" src="/static/img/coins/60/dollar.jpg" alt="US Dollar logo" height="60" width="60">
                        <i class="fa fa-lg fa-exchange px-1 px-md-3" aria-hidden="true"></i>
                        <img class="img-trending-coin" src="/static/img/coins/60/19633_btc.jpg" alt="Bitcoin logo" height="60" width="60">
                    </div>
                    <h5 class="font-weight-bold pt-3 m-0">US Dollar to Bitcoin</h5>
                </div>

                <div class="col-3 px-2 px-lg-3">
                    <div class="d-inline-block d-flex justify-content-center align-items-center">
                        <img class="img-trending-coin" src="/static/img/coins/60/dollar.jpg" alt="US Dollar logo" height="60" width="60">
                        <i class="fa fa-lg fa-exchange px-1 px-md-3" aria-hidden="true"></i>
                        <img class="img-trending-coin" src="/static/img/coins/60/34477776_xrp.jpg" alt="XRP logo" height="60" width="60">
                    </div>
                    <h5 class="font-weight-bold pt-3 m-0">US Dollar to XRP</h5>
                </div>

                <div class="col-3 px-2 px-lg-3">
                    <div class="d-inline-block d-flex justify-content-center align-items-center">
                        <img class="img-trending-coin" src="/static/img/coins/60/20646_eth_logo.jpg" alt="Ethereum logo" height="60" width="60">
                        <i class="fa fa-lg fa-exchange px-1 px-md-3" aria-hidden="true"></i>
                        <img class="img-trending-coin" src="/static/img/coins/60/19969_xmr.jpg" alt="Monero logo" height="60" width="60">
                    </div>
                    <h5 class="font-weight-bold pt-3 m-0">Ethereum to Monero</h5>
                </div>

                <div class="col-3 px-2 px-lg-3">
                    <div class="d-inline-block d-flex justify-content-center align-items-center">
                        <img class="img-trending-coin" src="/static/img/coins/60/19633_btc.jpg" alt="Bitcoin logo" height="60" width="60">
                        <i class="fa fa-lg fa-exchange px-1 px-md-3" aria-hidden="true"></i>
                        <img class="img-trending-coin" src="/static/img/coins/60/euro.jpg" alt="Euro logo" height="60" width="60">
                    </div>
                    <h5 class="font-weight-bold pt-3 m-0">Bitcoin to Euro</h5>
                </div>

            </div>
            <!-- Links -->
            <div class="row no-gutters pb-0 pb-md-5">
                <div class="col-3 px-2 px-lg-3">
                    <a class="trending-searches-btn select-btn btn btn-indigo mt-3" href="{{ url_for('exch_results', url_orig_coin='USD', url_dest_coin='BTC') }}" role="button" data-click="USD+BTC">Search</a>
                </div>
                <div class="col-3 px-2 px-lg-3">
                    <a class="trending-searches-btn select-btn btn btn-indigo mt-3" href="{{ url_for('exch_results', url_orig_coin='USD', url_dest_coin='XRP') }}" role="button" data-click="USD+XRP">Search</a>
                </div>
                <div class="col-3 px-2 px-lg-3">
                    <a class="trending-searches-btn select-btn btn btn-indigo mt-3" href="{{ url_for('exch_results', url_orig_coin='ETH', url_dest_coin='XMR') }}" role="button" data-click="ETH+XMR">Search</a>
                </div>
                <div class="col-3 px-2 px-lg-3">
                    <a class="trending-searches-btn select-btn btn btn-indigo mt-3" href="{{ url_for('exch_results', url_orig_coin='BTC', url_dest_coin='EUR') }}" role="button" data-click="BTC+EUR">Search</a>
                </div>
            </div>

        </div>


    </section>




    <hr class="my-5">

    <!--Section: Popular Exchanges-->
    <section id="popular-exchanges" class="text-center">

        <!-- Heading -->
        <h2 class="mt-4 mt-md-5 mb-3 mb-md-4 font-weight-bold">Popular Exchange Sites</h2>

        <div class="container">

            <div class="row d-flex justify-content-center mb-4">
                <div class="col-md-8">
                    <p class="mb-1 mb-md-3">Crypto exchange sites operate in a highly unregulated environment. Always proceed with caution and do your own research before starting to operate with any platform. These are currently the 3 top sites picked by our users.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-4 px-2 px-md-3">
                    <img class="img-popular-services" src="/static/img/exchanges/60/Coinbase.jpg" alt="Coinbase PRO logo" height="60" width="60">
                    <h4 class="my-3 font-weight-bold">Coinbase PRO</h4>
                    <p class="grey-text">Coinbase is the most popular site to buy cryptocurrencies with USD or EUR. It currently supports BTC, BCH, ETH, LTC and ETC.</p>
                </div>

                <div class="col-4 px-2 px-md-3">
                    <img class="img-popular-services" src="/static/img/exchanges/60/Binance.jpg" alt="Binance logo" height="60" width="60">
                    <h4 class="my-3 font-weight-bold">Binance</h4>
                    <p class="grey-text">Binance is currently the exchange site with highest volume. Its trading fees are very competitive and supperts a very wide range of cryptoassets.</p>
                </div>

                <div class="col-4 px-2 px-md-3">
                    <img class="img-popular-services" src="/static/img/exchanges/60/Huobi.jpg" alt="Huobi logo" height="60" width="60">
                    <h4 class="my-3 font-weight-bold">Huobi</h4>
                    <p class="grey-text">The Singapore-based exchange already ranks among the top-three sites in trading volume, and offers its services worldwide in up to 15 different languages.</p>
                </div>
            </div>
            <!-- Links -->
            <div class="row">
                <div class="col-4 px-2 px-md-3 mb-0 mb-md-5">
                    <a class="referral-popular-exch btn btn-indigo select-btn" href="https://www.coinbase.com/join/5b850192be8c8506e5572fb0" target="_blank" role="button" data-exch="Coinbase PRO">Sign up</a>
                </div>

                <div class="col-4 px-2 px-md-3 mb-0 mb-md-5">
                    <a class="referral-popular-exch btn btn-indigo select-btn" href="https://www.binance.com/?ref=11020500" target="_blank" role="button" data-exch="Binance">Sign up</a>
                </div>

                <div class="col-4 px-2 px-md-3 mb-0 mb-md-5">
                    <a class="referral-popular-exch btn btn-indigo select-btn" href="https://www.hbg.com/en-us/topic/invited/?invite_code=6gtv3" target="_blank" role="button" data-exch="Huobi">Sign up</a>
                </div>
            </div>
        </div>

    </section>


{% endblock main %}









{% block modals %}

    <!-- Processing Modal -->
    <div class="modal fade" id="processing-modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" data-backdrop='true'>
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div id="cssload-pgloading">
                <div class="cssload-loadingwrap">
                    <ul class="cssload-bokeh">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock modals %}



{% block js %}
    <!-- typeahead -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap3-typeahead.min.js') }}"></script>
    <!-- Site styles -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <!-- Tests -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/tests.js') }}"></script> -->
{% endblock %}
