{% extends "layout.html" %}


{% block style %}
{% endblock style %}


{% block activepage %}
    <div id="navlink-selector" class="d-none" data-active="nav-link-exchanges"></div>
{% endblock activepage %}

{% block main %}

    <section class="exchange-fees-hero">
        <div class="mask-rgba-black-strong">

            <!-- Heading -->
            <h1 class="font-weight-bold text-center py-4 px-3 my-0">Fee Explorer<br><small>Browse fees by cryptocurrency</small></h1>

        </div>

    </section>


    <!--Section: Explore Exchange fees-->
    <section class="exchange-fees section-padding-2rem">

        <!-- <h2 class="px-3 mb-4 text-center font-weight-bold">Exchange fees<br><small>by site</small></h2> -->

        <div class="container">

            <!-- Input filter-->
            <div class="row justify-content-end px-2 pb-3">
                <div class="col-6 col-md-4 col-lg-3 px-2 px-lg-3">
                    <input id="filter-asset-input" type="text" class="form-control" placeholder="Filter coins">
                </div>
            </div>

            <div class="row px-2">
                {% for coin in coins %}
                    <div class="asset-col col-6 col-md-4 col-lg-3 pb-3 px-2 px-lg-3" data-coin-id="{{ coin.id }}" data-coin-name="{{ coin.long_name }}">
                        <a class="card-link" href="{{ url_for('exchange_fees_by_coin', coin_id=coin.id) }}" role="button" data-click="#">
                            <div class="card asset-card">
                                <div class="card-body text-center">
                                    <div class="d-inline-block d-flex justify-content-center align-items-center">
                                        <img class="img-buy-coin mr-2" src="/static/img/coins/64/{{ coin.local_fn }}" alt="coin.long_name logo">
                                        <span>{{ coin.long_name }}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}

            </div>
        </div>

    </section>


{% endblock main %}









{% block js %}
    <!-- typeahead -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap3-typeahead.min.js') }}"></script>
    <!-- Site styles -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/fee_explorer.js') }}"></script>
    <!-- Tests -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/tests.js') }}"></script> -->
{% endblock %}
