{% extends "layout.html" %}


{% block style %}
    <!-- Your custom styles -->
    <link href="{{ url_for('static', filename='css/exch_search.css', _external=True) }}" rel="stylesheet">
{% endblock style %}


{% block activepage %}
    <div id="navlink-selector" class="d-none" data-active="nav-link-home"></div>
{% endblock activepage %}


{% block main %}





    {% include '_search_canvas.html' %}








    <!--WHY CRYPTOFEESAVER SECTION-->
    <section class="section-padding-4rem text-center" id="why-cryptofeesaver">

        <h2 class="mb-3 mb-md-4 font-weight-bold">Why CryptoFeeSaver?</h2>

        <div class="container">
            <div class="row d-flex justify-content-center mb-lg-3 mb-4">
                <div class="col-12 col-md-10 col-lg-9 col-xl-8 text-center">
                    <p class="lead mb-0">Our Crypto Search Engine scans all deposit, trading and withdrawal fees of the top crypto exchanges to help you find the cheapest option to buy or exchange cryptoassets.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon d-flex justify-content-center">
                            <img class="img-fluid" src="/static/img/icons/business.svg" alt="">
                        </div>
                        <h4>SAVES YOU MONEY</h4>
                        <p class="dark-grey-color">Lets you compare all service fees to make sure you are always making the most profitable choice.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon d-flex justify-content-center">
                            <img class="img-fluid" src="/static/img/icons/team.svg" alt="">
                        </div>
                        <h4>FOR EVERYONE</h4>
                        <p class="dark-grey-color">Designed to meet the needs of traders, miners and long term hodlers. If you are into cryptos, it's for you.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 d-sm-none d-md-inline">
                    <div class="box">
                        <div class="box-icon d-flex justify-content-center">
                            <img class="img-fluid" src="/static/img/icons/flag.svg" alt="">
                        </div>
                        <h4>BOOSTS COMPETITION</h4>
                        <p class="dark-grey-color">Allows easy comparison of crypto services. Brings awareness of real costs and promotes competition among providers.</p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-indigo-dark btn-rounded" href="/blog/page/3/cryptofeesaver-builds-the-first-exchange-search-engine-for-the-crypto-community/" role="button">Learn more</a>
            </div>
        </div>
    </section>
















    <!--SEARCH ENGINE'S FEATURES-->
    <section class="light-gray-bg section-padding-4rem text-center" id="search-engine-features">

        <h3 class="mb-3 mb-md-4 font-weight-bold">SEARCH ENGINE FEATURES</h3>


        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon d-flex justify-content-center">
                            <img class="img-fluid" src="/static/img/icons/laptop.svg" alt="">
                        </div>
                        <h3>Easy to Use</h3>
                        <p class="dark-grey-color">Look&feel similar to flight search engines. Just type origin and destination coins and we do the rest for you.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon d-flex justify-content-center">
                            <img class="img-fluid" src="/static/img/icons/feature.svg" alt="">
                        </div>
                        <h3>Easy to Customize</h3>
                        <p class="dark-grey-color">Customize your searches with various options and filters so that you only get results that are relevant to you.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon d-flex justify-content-center">
                            <img class="img-fluid" src="/static/img/icons/budget.svg" alt="">
                        </div>
                        <h3>All Exchange Fees</h3>
                        <p class="dark-grey-color">The engine analyzes deposit, trading and withdrawal fees. Avoid unpleasant surprises afterwards.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon d-flex justify-content-center">
                            <img class="img-fluid" src="/static/img/icons/bank-account.svg" alt="">
                        </div>
                        <h3>+20 Top Exchanges</h3>
                        <p class="dark-grey-color">Integrates the most liquid and trusted exchanges in the cryptospace. New sites added every week!</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon d-flex justify-content-center">
                            <img class="img-fluid" src="/static/img/icons/cryptocurrency.svg" alt="">
                        </div>
                        <h3>+800 Cryptoassets</h3>
                        <p class="dark-grey-color">Combine any of your favourite coins or fiat currencies. Whatever you have in mind, we've got it covered.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon d-flex justify-content-center">
                            <img class="img-fluid" src="/static/img/icons/search.svg" alt="">
                        </div>
                        <h3>+100k Routes Analyzed</h3>
                        <p class="dark-grey-color">Every possible combination of exchanges and coins is analyzed so that we always find the cheapest route for you.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-indigo-dark btn-rounded" href="{{ url_for('exchanges', _external=True) }}" role="button">Open Search Engine</a>
        </div>
    </section>
















    <!--Section: Recommended Wallets-->
    <section id="recommended-wallets" class="text-center section-padding-4rem">

        <h2 class="mb-3 mb-md-4 font-weight-bold">Hardware Wallets</h2>

        <div class="container">
            <div class="row d-flex justify-content-center mb-4">
                <div class="col-12 col-md-10 col-lg-9 col-xl-8 text-center">
                    <p class="lead mb-0">Cryptoassets are all about keeping your financial freedom, and Hardware Wallets are regarded as the safest way to store your funds today. To avoid unnecessary risks, always buy your wallet from the official site (links below)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 mb-5 mb-sm-0">
                    <div class="box">
                        <div class="box-icon d-flex justify-content-center">
                            <img src="/static/img/wallets/128/Ledger.jpg" alt="Ledger logo">
                        </div>
                        <h4>Ledger</h4>
                        <p class="dark-grey-color">The most popular and trusted hardware manufacture of wallets to store cryptocurrency on.</p>
                        <a class="referral-popular-wallet btn btn-indigo-dark btn-rounded select-btn" href="https://www.ledger.com/products/ledger-nano-s?r=e9435a2e294a&tracker=MY_TRACKER" rel="nofollow" target="_blank" role="button" data-wallet="Ledger">Check site</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 mb-5 mb-sm-0">
                    <div class="box">
                        <div class="box-icon d-flex justify-content-center">
                            <img src="/static/img/wallets/128/Trezor.jpg" alt="Trezorlogo">
                        </div>
                        <h4>Trezor</h4>
                        <p class="dark-grey-color">The first company to build a hardware wallet. Still on top with their brand new 'Model T' device.</p>
                        <a class="referral-popular-wallet btn btn-indigo-dark btn-rounded select-btn" href="https://trezor.io?offer_id=12&aff_id=1136" rel="nofollow" target="_blank" role="button" data-wallet="Trezor">Check site</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 d-sm-none d-md-inline">
                    <div class="box">
                        <div class="box-icon d-flex justify-content-center">
                            <img src="/static/img/wallets/128/Keepkey.jpg" alt="KeepKeey logo">
                        </div>
                        <h4>KeepKey</h4>
                        <p class="dark-grey-color">KeepKey is a new kid on the block for crypto wallets. Gorgeous design and nice set of features.</p>
                        <a class="referral-popular-wallet btn btn-indigo-dark btn-rounded select-btn" href="http://keepkey.go2cloud.org/SHEt" rel="nofollow" target="_blank" role="button" data-wallet="KeepKey">Check site</a>
                    </div>
                </div>
            </div>
        </div>
    </section>















    <!-- Latest Posts -->
    <div class="light-gray-bg section-padding-4rem">
        {% include 'blogging/_blog_posts.html' %}
    </div>


{% endblock main %}























{% block js %}
    <!-- typeahead -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap3-typeahead.min.js', _external=True) }}"></script>
    <!-- Site styles -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js', _external=True) }}"></script>
{% endblock %}
