/* /////////////////////////////////////////////////////////
////////////  STRUCTURAL FORMATING  ///////////////////////
///////////////////////////////////////////////////////// */

@media (max-width: 410px) {
    html {
        /* font-size: 11px; */
    }
    main {
        min-height: 88vh;
    }
    img.img-exchange-lg {
        width: 13px;
        height: 13px;
    }
    img.img-exchange-sm {
        width: 12px;
        height: 12px;
    }
    img.img-coin {
        width: 9px;
        height: 9px;
    }
    img.img-trending-coin {
        width: 25px;
        height: 25px;
    }
    img.img-popular-services {
        width: 35px;
        height: 35px;
    }
    /* img.img-logo {
        height: 22px;
    } */
}

@media (min-width: 411px) and (max-width: 480px) {
    html {
        /* font-size: 12px; */
    }
    main {
        min-height: 86.5vh;
    }
    img.img-exchange-lg {
        width: 15px;
        height: 15px;
    }
    img.img-exchange-sm {
        width: 12px;
        height: 12px;
    }
    img.img-coin {
        width: 10px;
        height: 10px;
    }
    img.img-trending-coin {
        width: 30px;
        height: 30px;
    }
    img.img-popular-services {
        width: 35px;
        height: 35px;
    }
    /* img.img-logo {
        height: 24px;
    } */
}

@media (min-width: 481px) and (max-width: 575px) {
    html {
        /* font-size: 13px; */
    }
    main {
        min-height: 86vh;
    }
    img.img-exchange-lg {
        width: 17px;
        height: 17px;
    }
    img.img-exchange-sm {
        width: 14px;
        height: 14px;
    }
    img.img-coin {
        width: 12px;
        height: 12px;
    }
    img.img-trending-coin {
        width: 35px;
        height: 35px;
    }
    img.img-popular-services {
        width: 45px;
        height: 45px;
    }
    /* img.img-logo {
        height: 24px;
    } */
}

@media (min-width: 576px) and (max-width: 767px) {
    html {
        /* font-size: 14px; */
    }
    main {
        min-height: 85vh;
    }
    img.img-exchange-lg {
        width: 20px;
        height: 20px;
    }
    img.img-exchange-sm {
        width: 16px;
        height: 16px;
    }
    img.img-coin {
        width: 14px;
        height: 14px
    }
    img.img-trending-coin {
        width: 35px;
        height: 35px;
    }
    img.img-popular-services {
        width: 60px;
        height: 60px;
    }
    /* img.img-logo {
        height: 24px;
    } */
}

@media (min-width: 768px) and (max-width: 991px) {
    html {
        /* font-size: 14px; */
    }
    main {
        min-height: 85vh;
    }
    img.img-exchange-lg {
        width: 20px;
        height: 20px;
    }
    img.img-exchange-sm {
        width: 16px;
        height: 16px;
    }
    img.img-coin {
        width: 14px;
        height: 14px
    }
    img.img-trending-coin {
        width: 45px;
        height: 45px;
    }
    img.img-popular-services {
        width: 60px;
        height: 60px;
    }
    /* img.img-logo {
        height: 22px;
    } */
}

@media (min-width: 992px) {
    /* html {
        font-size: 16px;
    } */
    main {
        min-height: 85vh;
    }
    img.img-exchange-lg {
        width: 20px;
        height: 20px;
    }
    img.img-exchange-sm {
        width: 16px;
        height: 16px;
    }
    img.img-coin {
        width: 16px;
        height: 16px
    }
    img.img-trending-coin {
        width: 60px;
        height: 60px;
    }
    img.img-popular-services {
        width: 60px;
        height: 60px;
    }
    img.img-logo {
        height: 28px;
    }
}

/* /////////////////////////////////////////////////////////
////////////  SEARCH CANVAS////////////////////////////////
///////////////////////////////////////////////////////// */

#search-canvas {
    background: url("/static/img/background/coins_fs_low.jpg")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

section#search-canvas .search-box {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
    border: 1px solid #b6b6b6;
}

#search-form .form-control {
    border-radius: .1rem;
}

#submit-btn {
    font-size: 1rem;
    font-weight: bold;
    padding: .4rem 1rem;
    text-transform: none;
}

#search-form .invalid-feedback {
    color: white;
    font-style: italic;
    font-size: 90%;
}

/* Typeahead results */

#search-form .typeahead li.dropdown-item {
    padding-top: 0.25rem;
    padding-bottom: 0.125rem;
    padding-right: 0.5rem;
    padding-left: 1rem;
}

#search-form .typeahead a.dropdown-item {
    padding: 0rem;
}

#search-form .typeahead .dropdown-item:hover {
    color: white;
    background-color: #3f51b5;
}

#search-form .typeahead .active.dropdown-item {
    background-color: #3f51b5;
}

#search-form .typeahead .active.dropdown-item .dropdown-item {
    color: white;
}

@media (max-width: 575px) {
    #search-form .typeahead .dropdown-item {
        font-size: 1rem;
    }
}

@media (min-width: 576px) and (max-width: 767) {
    #search-form .typeahead .dropdown-item {
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) {
    #search-form .typeahead .dropdown-item {
        font-size: 0.85rem;
    }
}

/* Options section */

#options-collapse .fixed-min-width {
    min-width: 7rem;
    padding-right: 0.5rem;
}

#options-collapse a.no-link-tooltip {
    color: white;
    text-decoration: underline;
    text-decoration-color: #6c6a6a;
}

/* #exchange-options button {
    text-transform: none;
    font-size: .7rem;
} */

/* form starting stylings ------------------------------- */

.md-input-form {
    position: relative;
}

.md-input-form input {
    /* font-size: 18px;*/
    font-weight: 700;
    font-style: italic;
    color: white;
    padding: 10px 10px 5px 10px;
    display: block;
    /* width: 100px; */
    border: none;
    border-bottom: 1px solid #e2e2e2;
    background-color: transparent
}

.align-right {
    text-align: right;
}

.md-input-form input:focus {
    outline: none;
}

.md-input-form label {
    color: #b9b6b6;
    font-style: italic;
    font-size: 1rem;
    /* font-size: 18px; */
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.md-input-form label.align-right {
    left: 0px;
    right: 10px;
}

/* active state */

.md-input-form input:focus~label, .md-input-form input:valid~label {
    top: -15px;
    font-size: 0.87rem;
    color: #989898;
}

/* FORM ERRORS ======================================= */

.md-input-form .form-errors {
    position: absolute;
    left: 5px;
    top: 45px;
    font-style: italic;
    font-size: 0.85rem
}

.md-input-form input.invalid {
    color: #f44e4e;
    font-style: italic;
}

/* BOTTOM BARS ================================= */

.md-input-form .bar {
    position: relative;
    display: block;
    /* width: 100px; */
}

.md-input-form .bar:before, .md-input-form .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #e2e2e2;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.md-input-form .bar:before {
    left: 50%;
}

.md-input-form .bar:after {
    right: 50%;
}

/* active state */

.md-input-form input:focus~.bar:before, .md-input-form input:focus~.bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */

.highlight {
    position: absolute;
    height: 60%;
    /* width: 100px; */
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */

.md-input-form input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
    from {
        background: #e2e2e2;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #e2e2e2;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #e2e2e2;
    }
    to {
        width: 0;
        background: transparent;
    }
}

/* /////////////////////////////////////////////////////////
////////////  RESULTS  ////////////////////////////////////
///////////////////////////////////////////////////////// */

section#results {
    background-color: #f6f4f4;
    min-height: 45vh;
}

@media (max-width: 410px) {
    section#results .container {
        padding-left: 6px;
        padding-right: 6px;
    }
}

section#results .exchange-format {
    font-size: 110%;
    font-weight: 700;
}

section#results .orig-dest-format {
    font-size: 100%;
    font-weight: 500;
    color: #3e3e3e;
}

section#results .path-format {
    font-weight: 700;
}

/* section#results .details-format {
    color: #404040;
} */

section#results .card {
    border-radius: 0.2rem;
    border-top: 4px solid #ff7043;
}

section#results .card-header {
    background-color: #ffffff;
    border-radius: 0.2rem;
    border-bottom: none;
}

section#results .card-body {
    border-top: 1px solid rgba(255, 112, 68, 0.5)
}

/* section#results .message {
    margin-top: 3rem;
    line-height: 1.7;
    color: #404040;
    font-weight: 700;
    font-style: italic;
} */

section#results a.no-link-tooltip {
    color: #404040;
    text-decoration: underline;
    text-decoration-color: #c1c1c1;
}

#path-fee-details-collapse {
    color: #ff7043;
    font-weight: 700;
}

section#results .promo {
    border-radius: .5rem;
    border: 1px solid #343a40;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
}

section#results .promo-link {
    color: #ff3547;
    text-decoration: underline;
}

section#results .border-left {
    border-left-color: #ff835d !important;
}

.referral-detail-link-1, .referral-detail-link-2, .referral-detail-link-3 {
    color: #212529;
}

.referral-detail-link-1:hover, .referral-detail-link-2:hover, .referral-detail-link-3:hover {
    color: #4285F4;
}

/* Collapse font */

.smaller-font {
    font-size: 90%;
}

/* @media (max-width: 767px) {
    .select-btn {
        font-size: 0.8rem;
        font-weight: bold;
        padding: .4rem 0.6rem;
        margin: .2rem 0rem;
        text-transform: none;
    }
}

@media (min-width: 768px) and (max-width: 997px) {
    .select-btn {
        font-size: 0.8rem;
        font-weight: bold;
        padding: .4rem 0.6rem;
        margin: .2rem 0rem;
    }
}

@media (min-width: 998px) {
    .select-btn {
        font-size: 0.8rem;
        font-weight: bold;
        padding: .4rem 0.8rem;
        margin: .2rem 0rem;
    }
} */

/* /////////////////////////////////////////////////////////
////////////  RESULTS - SEARCH FILTER DROPDOWNS ////////////
///////////////////////////////////////////////////////// */

section#results .connection-hide {
    display: none;
}

section#results .exchange-hide {
    display: none;
}

/* section#results .search-filter.dropdown .dropdown-toggle {
    background-color: #3f51b5 !important;
    color: #fff !important;
    font-size: 1rem;
    text-transform: none;
    padding: 0.6rem 1.4rem;
} */

/* section#results .search-filter.dropdown .dropdown-menu {
    padding: 0.3rem 0rem;
} */

section#results a {
    text-decoration: none;
}

section#results #filter-badges .badge {
    font-size: 0.9em;
    padding: .4em 1em;
    background-color: #ff7043;
    color: white;
    font-weight: 400;
}

section#results #filter-badges .badge i.fa-times {
    cursor: pointer;
}

section#results .search-filter.dropdown .dropdown-menu a {
    color: #212529;
}

section#results .search-filter.dropdown .dropdown-menu table {
    display: block;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

section#results .search-filter.dropdown .dropdown-menu table th {
    padding: 0.4rem 0.3rem 0.4rem 1rem;
    font-weight: 400;
    font-size: 1rem;
}

section#results .search-filter.dropdown .dropdown-menu table td {
    padding: 0.3rem 1rem 0.3rem 0.3rem;
    font-weight: 400;
    font-size: 1rem;
}

section#results .search-filter.dropdown .dropdown-menu table th:hover, section#results .search-filter.dropdown .dropdown-menu table td:hover, {
    cursor: pointer;
}

section#results .search-filter.dropdown .dropdown-menu table tr:hover {
    cursor: pointer;
    background-color: #e3e1e1;
    /* color: #fff; */
}

section#results .search-filter.dropdown .dropdown-menu .whats-this {
    font-style: italic;
    font-size: 0.9rem;
}

/* Typeahead results */

section#results .typeahead li.dropdown-item {
    padding-top: 0.25rem;
    padding-bottom: 0.125rem;
    padding-right: 0.5rem;
    padding-left: 1rem;
}

section#results .typeahead a.dropdown-item {
    padding: 0rem;
}

section#results .typeahead .dropdown-item:hover {
    color: white;
    background-color: #3f51b5;
}

section#results .typeahead .active.dropdown-item {
    background-color: #3f51b5;
}

section#results .typeahead .active.dropdown-item .dropdown-item {
    color: white;
}

@media (max-width: 575px) {
    section#results .typeahead .dropdown-item {
        font-size: 1rem;
    }
}

@media (min-width: 576px) and (max-width: 767) {
    section#results .typeahead .dropdown-item {
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) {
    section#results .typeahead .dropdown-item {
        font-size: 0.85rem;
    }
}

/* /////////////////////////////////////////////////////////
////////////  BACK TO TOP //////////////////////////////////
///////////////////////////////////////////////////////// */

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    color: #343a40;
}

/* /////////////////////////////////////////////////////////
////////////  LOADING ANIMATION  //////////////////////////
///////////////////////////////////////////////////////// */

#cssload-pgloading {}

#cssload-pgloading:after {
    content: "";
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#cssload-pgloading .cssload-loadingwrap {
    position: fixed;
    top: 45%;
    bottom: 45%;
    left: 25%;
    right: 25%;
    z-index: 999;
}

#cssload-pgloading .cssload-bokeh {
    font-size: 82px;
    width: 1em;
    height: 1em;
    position: relative;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#cssload-pgloading .cssload-bokeh li {
    position: absolute;
    width: .2em;
    height: .2em;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#cssload-pgloading .cssload-bokeh li:nth-child(1) {
    left: 50%;
    top: 0;
    margin: 0 0 0 -.1em;
    background: rgba(51, 59, 150, 0.98);
    transform-origin: 50% 250%;
    -o-transform-origin: 50% 250%;
    -ms-transform-origin: 50% 250%;
    -webkit-transform-origin: 50% 250%;
    -moz-transform-origin: 50% 250%;
    animation: cssload-rota 1.3s linear infinite, cssload-opa 4.22s ease-in-out infinite alternate;
    -o-animation: cssload-rota 1.3s linear infinite, cssload-opa 4.22s ease-in-out infinite alternate;
    -ms-animation: cssload-rota 1.3s linear infinite, cssload-opa 4.22s ease-in-out infinite alternate;
    -webkit-animation: cssload-rota 1.3s linear infinite, cssload-opa 4.22s ease-in-out infinite alternate;
    -moz-animation: cssload-rota 1.3s linear infinite, cssload-opa 4.22s ease-in-out infinite alternate;
}

#cssload-pgloading .cssload-bokeh li:nth-child(2) {
    top: 50%;
    right: 0;
    margin: -.1em 0 0 0;
    background: rgb(255, 0, 60);
    transform-origin: -150% 50%;
    -o-transform-origin: -150% 50%;
    -ms-transform-origin: -150% 50%;
    -webkit-transform-origin: -150% 50%;
    -moz-transform-origin: -150% 50%;
    animation: cssload-rota 2.14s linear infinite, cssload-opa 4.93s ease-in-out infinite alternate;
    -o-animation: cssload-rota 2.14s linear infinite, cssload-opa 4.93s ease-in-out infinite alternate;
    -ms-animation: cssload-rota 2.14s linear infinite, cssload-opa 4.93s ease-in-out infinite alternate;
    -webkit-animation: cssload-rota 2.14s linear infinite, cssload-opa 4.93s ease-in-out infinite alternate;
    -moz-animation: cssload-rota 2.14s linear infinite, cssload-opa 4.93s ease-in-out infinite alternate;
}

#cssload-pgloading .cssload-bokeh li:nth-child(3) {
    left: 50%;
    bottom: 0;
    margin: 0 0 0 -.1em;
    background: rgb(250, 190, 40);
    transform-origin: 50% -150%;
    -o-transform-origin: 50% -150%;
    -ms-transform-origin: 50% -150%;
    -webkit-transform-origin: 50% -150%;
    -moz-transform-origin: 50% -150%;
    animation: cssload-rota 1.67s linear infinite, cssload-opa 5.89s ease-in-out infinite alternate;
    -o-animation: cssload-rota 1.67s linear infinite, cssload-opa 5.89s ease-in-out infinite alternate;
    -ms-animation: cssload-rota 1.67s linear infinite, cssload-opa 5.89s ease-in-out infinite alternate;
    -webkit-animation: cssload-rota 1.67s linear infinite, cssload-opa 5.89s ease-in-out infinite alternate;
    -moz-animation: cssload-rota 1.67s linear infinite, cssload-opa 5.89s ease-in-out infinite alternate;
}

#cssload-pgloading .cssload-bokeh li:nth-child(4) {
    top: 50%;
    left: 0;
    margin: -.1em 0 0 0;
    background: rgb(136, 193, 0);
    transform-origin: 250% 50%;
    -o-transform-origin: 250% 50%;
    -ms-transform-origin: 250% 50%;
    -webkit-transform-origin: 250% 50%;
    -moz-transform-origin: 250% 50%;
    animation: cssload-rota 1.98s linear infinite, cssload-opa 6.04s ease-in-out infinite alternate;
    -o-animation: cssload-rota 1.98s linear infinite, cssload-opa 6.04s ease-in-out infinite alternate;
    -ms-animation: cssload-rota 1.98s linear infinite, cssload-opa 6.04s ease-in-out infinite alternate;
    -webkit-animation: cssload-rota 1.98s linear infinite, cssload-opa 6.04s ease-in-out infinite alternate;
    -moz-animation: cssload-rota 1.98s linear infinite, cssload-opa 6.04s ease-in-out infinite alternate;
}

@keyframes cssload-rota {
    from {}
    to {
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-rota {
    from {}
    to {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-rota {
    from {}
    to {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-rota {
    from {}
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-rota {
    from {}
    to {
        -moz-transform: rotate(360deg);
    }
}

@keyframes cssload-opa {
    0% {}
    12.0% {
        opacity: 0.80;
    }
    19.5% {
        opacity: 0.88;
    }
    37.2% {
        opacity: 0.64;
    }
    40.5% {
        opacity: 0.52;
    }
    52.7% {
        opacity: 0.69;
    }
    60.2% {
        opacity: 0.60;
    }
    66.6% {
        opacity: 0.52;
    }
    70.0% {
        opacity: 0.63;
    }
    79.9% {
        opacity: 0.60;
    }
    84.2% {
        opacity: 0.75;
    }
    91.0% {
        opacity: 0.87;
    }
}

@-o-keyframes cssload-opa {
    0% {}
    12.0% {
        opacity: 0.80;
    }
    19.5% {
        opacity: 0.88;
    }
    37.2% {
        opacity: 0.64;
    }
    40.5% {
        opacity: 0.52;
    }
    52.7% {
        opacity: 0.69;
    }
    60.2% {
        opacity: 0.60;
    }
    66.6% {
        opacity: 0.52;
    }
    70.0% {
        opacity: 0.63;
    }
    79.9% {
        opacity: 0.60;
    }
    84.2% {
        opacity: 0.75;
    }
    91.0% {
        opacity: 0.87;
    }
}

@-ms-keyframes cssload-opa {
    0% {}
    12.0% {
        opacity: 0.80;
    }
    19.5% {
        opacity: 0.88;
    }
    37.2% {
        opacity: 0.64;
    }
    40.5% {
        opacity: 0.52;
    }
    52.7% {
        opacity: 0.69;
    }
    60.2% {
        opacity: 0.60;
    }
    66.6% {
        opacity: 0.52;
    }
    70.0% {
        opacity: 0.63;
    }
    79.9% {
        opacity: 0.60;
    }
    84.2% {
        opacity: 0.75;
    }
    91.0% {
        opacity: 0.87;
    }
}

@-webkit-keyframes cssload-opa {
    0% {}
    12.0% {
        opacity: 0.80;
    }
    19.5% {
        opacity: 0.88;
    }
    37.2% {
        opacity: 0.64;
    }
    40.5% {
        opacity: 0.52;
    }
    52.7% {
        opacity: 0.69;
    }
    60.2% {
        opacity: 0.60;
    }
    66.6% {
        opacity: 0.52;
    }
    70.0% {
        opacity: 0.63;
    }
    79.9% {
        opacity: 0.60;
    }
    84.2% {
        opacity: 0.75;
    }
    91.0% {
        opacity: 0.87;
    }
}

@-moz-keyframes cssload-opa {
    0% {}
    12.0% {
        opacity: 0.80;
    }
    19.5% {
        opacity: 0.88;
    }
    37.2% {
        opacity: 0.64;
    }
    40.5% {
        opacity: 0.52;
    }
    52.7% {
        opacity: 0.69;
    }
    60.2% {
        opacity: 0.60;
    }
    66.6% {
        opacity: 0.52;
    }
    70.0% {
        opacity: 0.63;
    }
    79.9% {
        opacity: 0.60;
    }
    84.2% {
        opacity: 0.75;
    }
    91.0% {
        opacity: 0.87;
    }
}