/* /////////////////////////////////////////////////////////
////////////  STRUCTURAL FORMATING  ///////////////////////
///////////////////////////////////////////////////////// */

@media (max-width: 410.98px) {
    html {
        /* font-size: 11px; */
    }
    main {
        min-height: 88vh;
    }
    section#results img.img-exchange-lg {
        width: 15px;
        height: 15px;
    }
    section#results img.img-exchange-sm {
        width: 12px;
        height: 12px;
    }
    section#results img.img-coin {
        width: 16px;
        height: 16px
    }
}

@media (min-width: 411px) and (max-width: 480.98px) {
    html {
        /* font-size: 12px; */
    }
    main {
        min-height: 86.5vh;
    }
    section#results img.img-exchange-lg {
        width: 15px;
        height: 15px;
    }
    section#results img.img-exchange-sm {
        width: 12px;
        height: 12px;
    }
    section#results img.img-coin {
        width: 16px;
        height: 16px
    }
}

@media (min-width: 481px) and (max-width: 575.98px) {
    html {
        /* font-size: 13px; */
    }
    main {
        min-height: 86vh;
    }
    section#results img.img-exchange-lg {
        width: 17px;
        height: 17px;
    }
    section#results img.img-exchange-sm {
        width: 14px;
        height: 14px;
    }
    section#results img.img-coin {
        width: 16px;
        height: 16px
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    html {
        /* font-size: 14px; */
    }
    main {
        min-height: 85vh;
    }
    section#results img.img-exchange-lg {
        width: 20px;
        height: 20px;
    }
    section#results img.img-exchange-sm {
        width: 16px;
        height: 16px;
    }
    section#results img.img-coin {
        width: 16px;
        height: 16px
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    html {
        /* font-size: 14px; */
    }
    main {
        min-height: 85vh;
    }
    section#results img.img-exchange-lg {
        width: 20px;
        height: 20px;
    }
    section#results img.img-exchange-sm {
        width: 16px;
        height: 16px;
    }
    section#results img.img-coin {
        width: 16px;
        height: 16px
    }
}

@media (min-width: 992px) {
    /* html {
        font-size: 16px;
    } */
    main {
        min-height: 85vh;
    }
    section#results img.img-exchange-lg {
        width: 45px;
        height: 45px;
    }
    section#results img.img-exchange-sm {
        width: 16px;
        height: 16px;
    }
    section#results img.img-coin {
        width: 16px;
        height: 16px
    }
}

/* /////////////////////////////////////////////////////////
////////////  SEARCH CANVAS////////////////////////////////
///////////////////////////////////////////////////////// */

#search-canvas {
    background: url("/static/img/background/coins_fs_low.jpg")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

section#search-canvas .search-box {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
    border: 1px solid #b6b6b6;
}

section#search-canvas .slogan {
    font-size: inherit;
}

/* #search-form .form-control {
    border-radius: .1rem;
} */

#submit-btn {
    font-size: 1rem;
    font-weight: bold;
    padding: .4rem 1rem;
    text-transform: none;
}

#search-form .invalid-feedback {
    color: white;
    font-style: italic;
    font-size: 90%;
}

/* Typeahead results */

#search-form .typeahead li.dropdown-item {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    padding-right: 0.5rem;
    padding-left: 1rem;
    font-size: 0.9em;
}

#search-form .typeahead a.dropdown-item {
    padding: 0rem;
}

#search-form .typeahead .dropdown-item:hover {
    color: white;
    background-color: #3f51b5;
}

#search-form .typeahead .active.dropdown-item {
    background-color: #3f51b5;
}

#search-form .typeahead .active.dropdown-item .dropdown-item {
    color: white;
}

@media (max-width: 575.98px) {
    #search-form .typeahead .dropdown-item {
        font-size: 0.9rem;
    }
    section#search-canvas .slogan {
        font-size: 0.75rem;
    }
}

@media (min-width: 576px) and (max-width: 767) {
    #search-form .typeahead .dropdown-item {
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) {
    #search-form .typeahead .dropdown-item {
        font-size: 0.85rem;
    }
}

/* Options section */

#options-collapse .fixed-min-width {
    min-width: 7rem;
    padding-right: 0.5rem;
}

#options-collapse a.no-link-tooltip {
    color: white;
    text-decoration: underline;
    text-decoration-color: #6c6a6a;
}

/* #exchange-options button {
    text-transform: none;
    font-size: .7rem;
} */

/* form starting stylings ------------------------------- */

.md-input-form {
    position: relative;
}

.md-input-form input {
    /* font-size: 18px;*/
    font-weight: 700;
    font-style: italic;
    color: white;
    padding: 10px 10px 5px 10px;
    display: block;
    /* width: 100px; */
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #e2e2e2;
    background-color: transparent;
}

.align-right {
    text-align: right;
}

.md-input-form input:focus {
    outline: none;
}

.md-input-form label {
    color: #b9b6b6;
    font-style: italic;
    font-size: 1rem;
    /* font-size: 18px; */
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.md-input-form label.align-right {
    left: 0px;
    right: 10px;
}

/* active state */

.md-input-form input:focus~label, .md-input-form input:valid~label {
    top: -15px;
    font-size: 0.87rem;
    color: #989898;
}

/* FORM ERRORS ======================================= */

.md-input-form .form-errors {
    position: absolute;
    left: 5px;
    top: 45px;
    font-style: italic;
    font-size: 0.75rem
}

.md-input-form input.invalid {
    color: #f44e4e;
    font-style: italic;
}

/* BOTTOM BARS ================================= */

.md-input-form .bar {
    position: relative;
    display: block;
    /* width: 100px; */
}

.md-input-form .bar:before, .md-input-form .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #e2e2e2;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.md-input-form .bar:before {
    left: 50%;
}

.md-input-form .bar:after {
    right: 50%;
}

/* active state */

.md-input-form input:focus~.bar:before, .md-input-form input:focus~.bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */

.highlight {
    position: absolute;
    height: 60%;
    /* width: 100px; */
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */

.md-input-form input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
    from {
        background: #e2e2e2;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #e2e2e2;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #e2e2e2;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@media (max-width: 767.98px) {
    .md-input-form .responsive-align {
        text-align: center;
    }
}

/* /////////////////////////////////////////////////////////
////////////  RESULTS  ////////////////////////////////////
///////////////////////////////////////////////////////// */

section#results {
    background-color: #f6f4f4;
    min-height: 45vh;
}

@media (max-width: 410px) {
    section#results .container {
        padding-left: 6px;
        padding-right: 6px;
    }
}

section#results .exchange-format {
    font-weight: 700;
}

section#results .orig-dest-format {
    font-size: 100%;
    font-weight: 500;
    color: #3e3e3e;
}

section#results .path-format {
    font-weight: 700;
}

/* section#results .details-format {
    color: #404040;
} */

section#results .card {
    border-radius: 0.2rem;
    border: 1px solid rgba(0, 0, 0, .2);
    border-top: 4px solid #303f9f;
}

section#results .card-header {
    background-color: #ffffff;
    border-radius: 0.2rem;
    border-bottom: none;
}

section#results .card-body {
    border-top: 1px solid rgba(255, 112, 68, 0.25)
}

section#results .light-indigo-bg {
    background-color: #e8eaf6;
    border-radius: 0.2rem;
    padding: .25rem 0 .25rem .5rem;
    border-right: .25rem solid white
}

section#results .search-summary {
    font-size: 1.5rem;
}

section#results .detail-header {
    font-size: 0.9em;
    font-weight: 500;
    font-style: italic;
    color: #6e6d6d
}

/* section#results .message {
    margin-top: 3rem;
    line-height: 1.7;
    color: #404040;
    font-weight: 700;
    font-style: italic;
} */

section#results a.no-link-tooltip {
    color: #404040;
    text-decoration: underline;
    text-decoration-color: #c1c1c1;
}

#path-fee-details-collapse {
    color: #303f9f;
    font-weight: 500;
}

section#results .promo {
    border-radius: .5rem;
    border: 1px solid #979ba0;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.25rem .5rem;
}

section#results .promo-link {
    color: inherit;
    text-decoration: underline;
}

section#results .border-left {
    border-left-color: #303f9f !important;
}

section#results .detail-fee-column {
    padding-right: 0.25rem;
}

section#results .detail-dest-column {
    padding-right: 1rem;
}

.referral-detail-link-2, .referral-detail-link-3 {
    color: #212529;
}

.referral-detail-link-2:hover, .referral-detail-link-3:hover {
    color: #4285F4;
}

/* Collapse font */

/* @media (max-width: 767.98px) {
    .select-btn {
        font-size: 0.8rem;
        font-weight: bold;
        padding: .4rem 0.6rem;
        margin: .2rem 0rem;
        text-transform: none;
    }
}

@media (min-width: 768px) and (max-width: 997px) {
    .select-btn {
        font-size: 0.8rem;
        font-weight: bold;
        padding: .4rem 0.6rem;
        margin: .2rem 0rem;
    }
}

@media (min-width: 998px) {
    .select-btn {
        font-size: 0.8rem;
        font-weight: bold;
        padding: .4rem 0.8rem;
        margin: .2rem 0rem;
    }
} */

/* /////////////////////////////////////////////////////////
////////////  RESULTS - SEARCH FILTER DROPDOWNS ////////////
///////////////////////////////////////////////////////// */

section#results .connection-hide {
    display: none;
}

section#results .exchange-hide {
    display: none;
}

section#results #location-selector input {
    font-style: italic;
    color: #212529;
    font-weight: 500;
}

/* section#results .search-filter.dropdown .dropdown-toggle {
    background-color: #3f51b5 !important;
    color: #fff !important;
    font-size: 1rem;
    text-transform: none;
    padding: 0.6rem 1.4rem;
} */

/* section#results .search-filter.dropdown .dropdown-menu {
    padding: 0.3rem 0rem;
} */

section#results a {
    text-decoration: none;
}

section#results #filter-badges .badge {
    font-size: 0.9em;
    padding: .4em 1em;
    background-color: #303f9f;
    color: white;
    font-weight: 400;
}

section#results #filter-badges .badge i.fa-times {
    cursor: pointer;
}

section#results .search-filter.dropdown .dropdown-menu a {
    color: #212529;
}

section#results .search-filter.dropdown .dropdown-menu table {
    display: block;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

section#results .search-filter.dropdown .dropdown-menu table th {
    padding: 0.4rem 0.3rem 0.4rem 1rem;
    font-weight: 400;
    font-size: 1rem;
}

section#results .search-filter.dropdown .dropdown-menu table td {
    padding: 0.3rem 1rem 0.3rem 0.3rem;
    font-weight: 400;
    font-size: 1rem;
}

section#results .search-filter.dropdown .dropdown-menu table th:hover, section#results .search-filter.dropdown .dropdown-menu table td:hover, {
    cursor: pointer;
}

section#results .search-filter.dropdown .dropdown-menu table tr:hover {
    cursor: pointer;
    background-color: #e3e1e1;
    /* color: #fff; */
}

section#results .search-filter.dropdown .dropdown-menu .whats-this {
    font-style: italic;
    font-size: 0.9rem;
}

/* Typeahead results */

section#results .typeahead li.dropdown-item {
    padding-top: 0.25rem;
    padding-bottom: 0.125rem;
    padding-right: 0.5rem;
    padding-left: 1rem;
}

section#results .typeahead a.dropdown-item {
    padding: 0rem;
}

section#results .typeahead .dropdown-item:hover {
    color: white;
    background-color: #3f51b5;
}

section#results .typeahead .active.dropdown-item {
    background-color: #3f51b5;
}

section#results .typeahead .active.dropdown-item .dropdown-item {
    color: white;
}

@media (max-width: 410.98px) {
    section#results .exchange-format {
        font-size: 1.15rem;
    }
    section#results img.img-exchange-lg {
        width: 20px;
        height: 20px;
    }
    section#results img.img-exchange-sm {
        width: 12px;
        height: 12px;
    }
    section#results img.img-coin {
        width: 15px;
        height: 15px;
    }
    section#results .typeahead .dropdown-item {
        font-size: 1rem;
    }
    section#results .select-btn {
        font-size: 0.8rem;
        padding: .3rem 0.4rem;
    }
    section#results .result-fees {
        font-size: 0.9rem;
    }
    section#results .card-body .smaller-font {
        font-size: 0.85rem;
    }
    section#results .detail-fee-column .detail-header {
        padding-right: 0.5rem;
    }
    section#results .search-summary {
        font-size: 1.15rem;
    }
}

@media (min-width: 411px) and (max-width: 480.98px) {
    section#results .exchange-format {
        font-size: 1.15rem;
        padding-left: 0.125rem;
    }
    section#results img.img-exchange-lg {
        width: 22px;
        height: 22px;
    }
    section#results img.img-exchange-sm {
        width: 12px;
        height: 12px;
    }
    section#results img.img-coin {
        width: 16px;
        height: 16px;
    }
    section#results .typeahead .dropdown-item {
        font-size: 1rem;
    }
    section#results .select-btn {
        font-size: 0.8rem;
        padding: .3rem 0.4rem;
    }
    section#results .detail-fee-column .detail-header {
        padding-right: 0.5rem;
    }
    section#results .result-fees {
        font-size: 0.9rem;
    }
    section#results .light-indigo-bg {
        border-right: .25rem solid white;
        font-weight: 500;
    }
    section#results .search-summary {
        font-size: 1.25rem;
    }
}

@media (min-width: 481px) and (max-width: 575.98px) {
    section#results .exchange-format {
        font-size: 1.25rem;
        padding-left: 0.25rem;
    }
    section#results img.img-exchange-lg {
        width: 28px;
        height: 28px;
    }
    section#results img.img-exchange-sm {
        width: 14px;
        height: 14px;
    }
    section#results img.img-coin {
        width: 16px;
        height: 16px;
    }
    section#results .typeahead .dropdown-item {
        font-size: 1rem;
    }
    section#results .select-btn {
        font-size: 0.9rem;
        padding: .4rem 0.6rem;
    }
    section#results .result-fees {
        font-size: 1rem;
    }
    section#results .detail-fee-column {
        padding-right: 0.75rem;
    }
    section#results .light-indigo-bg {
        border-right: .25rem solid white;
        font-weight: 500;
    }
    section#results .search-summary {
        font-size: 1.25rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    section#results .exchange-format {
        font-size: 1.25rem;
        padding-left: 0.375rem;
    }
    section#results img.img-exchange-lg {
        width: 35px;
        height: 35px;
    }
    section#results img.img-exchange-sm {
        width: 16px;
        height: 16px;
    }
    section#results img.img-coin {
        width: 16px;
        height: 16px;
    }
    section#results .typeahead .dropdown-item {
        font-size: 0.9rem;
    }
    section#results .select-btn {
        font-size: 0.9rem;
        padding: .4rem 0.75rem;
    }
    section#results .result-fees {
        font-size: 1rem;
    }
    section#results .detail-fee-column {
        padding-right: 1rem;
    }
    section#results .detail-dest-column {
        padding-right: 2rem;
    }
    section#results .light-indigo-bg {
        border-right: .5rem solid white;
        font-weight: 500;
    }
    section#results .search-summary {
        font-size: 1.25rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    section#results .exchange-format {
        font-size: 1.25rem;
        padding-left: 0.375rem;
    }
    section#results img.img-exchange-lg {
        width: 35px;
        height: 35px;
    }
    section#results img.img-exchange-sm {
        width: 16px;
        height: 16px;
    }
    section#results img.img-coin {
        width: 16px;
        height: 16px;
    }
    section#results .typeahead .dropdown-item {
        font-size: 0.85rem;
    }
    section#results .select-btn {
        font-size: 0.9rem;
        padding: .4rem 0.75rem;
    }
    section#results .result-fees {
        font-size: 1rem;
    }
    section#results .detail-fee-column {
        padding-right: 1.5rem;
    }
    section#results .detail-dest-column {
        padding-right: 3rem;
    }
    section#results .light-indigo-bg {
        border-right: .75rem solid white;
        font-weight: 500;
    }
    section#results .search-summary {
        font-size: 1.25rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    section#results .exchange-format {
        font-size: 1.25rem;
        padding-left: 0rem;
    }
    section#results img.img-exchange-lg {
        width: 50px;
        height: 50px;
    }
    section#results img.img-exchange-sm {
        width: 16px;
        height: 16px;
    }
    section#results img.img-coin {
        width: 16px;
        height: 16px;
    }
    section#results .typeahead .dropdown-item {
        font-size: 0.85rem;
    }
    section#results .select-btn {
        font-size: .9rem;
        padding: .3rem 0.75rem;
    }
    section#results .result-fees {
        font-size: 1rem;
    }
    section#results .detail-fee-column {
        padding-right: 1.5rem;
    }
    section#results .detail-dest-column {
        padding-right: 3rem;
    }
    section#results .light-indigo-bg {
        border-right: .75rem solid white;
        font-weight: 500;
    }
    section#results .search-summary {
        font-size: 1.25rem;
    }
}

@media (min-width: 1200px) {
    section#results .exchange-format {
        font-size: 1.3rem;
        padding-left: 0rem;
    }
    section#results img.img-exchange-lg {
        width: 55px;
        height: 55px;
    }
    section#results img.img-exchange-sm {
        width: 16px;
        height: 16px;
    }
    section#results img.img-coin {
        width: 16px;
        height: 16px;
    }
    section#results .typeahead .dropdown-item {
        font-size: 0.85rem;
    }
    section#results .select-btn {
        font-size: 1rem;
        padding: .3rem 0.75rem;
    }
    section#results .result-fees {
        font-size: 1rem;
    }
    section#results .detail-fee-column {
        padding-right: 1.5rem;
    }
    section#results .detail-dest-column {
        padding-right: 3rem;
    }
    section#results .light-indigo-bg {
        border-right: .75rem solid white;
        font-weight: 500;
    }
}

/* /////////////////////////////////////////////////////////
////////////  BACK TO TOP //////////////////////////////////
///////////////////////////////////////////////////////// */

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    color: #343a40;
}