.lead, .display-4, .display-5 {
    font-weight: 400
}

/* /////////////////////////////////////////////////////////
////////////  STRUCTURAL FORMATING  ///////////////////////
///////////////////////////////////////////////////////// */

@media (max-width: 410px) {
    html {
        font-size: 11px;
    }
    main {
        padding-top: 4.2rem;
        min-height: 88vh;
    }
    img.img-exchange-lg {
        width: 13px;
        height: 13px;
    }
    img.img-exchange-sm {
        width: 12px;
        height: 12px;
    }
    img.img-coin {
        width: 9px;
        height: 9px;
    }
    img.img-trending-coin {
        width: 25px;
        height: 25px;
    }
    img.img-popular-services {
        width: 35px;
        height: 35px;
    }
    img.img-logo {
        height: 22px;
    }
}

@media (min-width: 411px) and (max-width: 480px) {
    html {
        font-size: 12px;
    }
    main {
        padding-top: 4.2rem;
        min-height: 86.5vh;
    }
    img.img-exchange-lg {
        width: 15px;
        height: 15px;
    }
    img.img-exchange-sm {
        width: 12px;
        height: 12px;
    }
    img.img-coin {
        width: 10px;
        height: 10px;
    }
    img.img-trending-coin {
        width: 30px;
        height: 30px;
    }
    img.img-popular-services {
        width: 35px;
        height: 35px;
    }
    img.img-logo {
        height: 24px;
    }
}

@media (min-width: 481px) and (max-width: 575px) {
    html {
        font-size: 13px;
    }
    main {
        padding-top: 4.2rem;
        min-height: 86vh;
    }
    img.img-exchange-lg {
        width: 17px;
        height: 17px;
    }
    img.img-exchange-sm {
        width: 14px;
        height: 14px;
    }
    img.img-coin {
        width: 12px;
        height: 12px;
    }
    img.img-trending-coin {
        width: 35px;
        height: 35px;
    }
    img.img-popular-services {
        width: 45px;
        height: 45px;
    }
    img.img-logo {
        height: 24px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    html {
        font-size: 14px;
    }
    main {
        padding-top: 5.5rem;
        min-height: 85vh;
    }
    img.img-exchange-lg {
        width: 20px;
        height: 20px;
    }
    img.img-exchange-sm {
        width: 16px;
        height: 16px;
    }
    img.img-coin {
        width: 14px;
        height: 14px
    }
    img.img-trending-coin {
        width: 35px;
        height: 35px;
    }
    img.img-popular-services {
        width: 60px;
        height: 60px;
    }
    img.img-logo {
        height: 24px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 14px;
    }
    main {
        padding-top: 5.5rem;
        min-height: 85vh;
    }
    img.img-exchange-lg {
        width: 20px;
        height: 20px;
    }
    img.img-exchange-sm {
        width: 16px;
        height: 16px;
    }
    img.img-coin {
        width: 14px;
        height: 14px
    }
    img.img-trending-coin {
        width: 45px;
        height: 45px;
    }
    img.img-popular-services {
        width: 60px;
        height: 60px;
    }
    img.img-logo {
        height: 22px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 14px;
    }
    main {
        padding-top: 5.5rem;
        min-height: 85vh;
    }
    img.img-exchange-lg {
        width: 20px;
        height: 20px;
    }
    img.img-exchange-sm {
        width: 16px;
        height: 16px;
    }
    img.img-coin {
        width: 14px;
        height: 14px
    }
    img.img-trending-coin {
        width: 60px;
        height: 60px;
    }
    img.img-popular-services {
        width: 60px;
        height: 60px;
    }
    img.img-logo {
        height: 28px;
    }
}

/* a, a.disabled:hover, a:disabled:hover {
    color: #5c5c5c;
} */

.light-grey-color {
    color: #DCDCDC;
}

.btn-grey {
    background-color: #797878;
}

.btn-dark-grey {
    background-color: #525050;
}

.rotateimg180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* /////////////////////////////////////////////////////////
////////////  SEARCH CANVAS////////////////////////////////
///////////////////////////////////////////////////////// */

#search-canvas {
    background: url("/static/img/background/coins_1920_1280.jpg")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

#search-form .form-control {
    border-radius: .1rem;
    /* border-color: #212121; */
    /* padding: .5rem 1rem; */
}

#submit-btn {
    font-size: 0.8rem;
    font-weight: bold;
    padding: .7rem 1.3rem;
}

/* Typeahead results */

@media (max-width: 575px) {
    #search-form .dropdown-item {
        font-size: 1rem;
    }
}

@media (min-width: 576px) and (max-width: 767) {
    #search-form .dropdown-item {
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) {
    #search-form .dropdown-item {
        font-size: 0.9rem;
    }
}

#search-form .dropdown-item:hover {
    color: white;
    background-color: #3f51b5;
}

#search-form .invalid-feedback {
    color: white;
    font-style: italic;
    font-size: 90%;
}

/* Options section */

#options .fixed-min-width, #fee-options .fixed-min-width {
    min-width: 7rem;
    padding-right: 0.5rem;
}

#options a.no-link-tooltip, #fee-options a.no-link-tooltip {
    color: white;
    text-decoration: underline;
    text-decoration-color: #6c6a6a;
}

#exchange-options button {
    text-transform: none;
    font-size: .7rem;
}

/* /////////////////////////////////////////////////////////
////////////  RESULTS  ////////////////////////////////////
///////////////////////////////////////////////////////// */

#results {
    background-color: #f0f0f0;
    min-height: 70vh;
}

@media (max-width: 410px) {
    #results .container {
        padding-left: 6px;
        padding-right: 6px;
    }
}

#results .exchange-format {
    font-size: 110%;
    font-weight: 600;
}

#results .orig-dest-format {
    font-size: 100%;
    font-weight: 400;
    color: #3e3e3e;
}

/* #results .path-format {
    color: #737373;
} */

/* #results .details-format {
    color: #404040;
} */

#results .card-header {
    background-color: #ffffff
}

#results .message {
    margin-top: 3rem;
    line-height: 1.7;
    color: #404040;
    font-weight: 700;
    font-style: italic;
}

#results a.no-link-tooltip {
    color: #404040;
    text-decoration: underline;
    text-decoration-color: #c1c1c1;
}

#results a, a.disabled:hover, a:disabled:hover {
    color: #3f51b5;
    font-weight: 500;
}

/* Collapse font */

.smaller-font {
    font-size: 90%;
}

@media (max-width: 767px) {
    .select-btn {
        font-size: 0.8rem;
        font-weight: bold;
        padding: .4rem 0.6rem;
        margin: .2rem 0rem;
        text-transform: none;
    }
}

@media (min-width: 768px) and (max-width: 997px) {
    .select-btn {
        font-size: 0.8rem;
        font-weight: bold;
        padding: .4rem 0.6rem;
        margin: .2rem 0rem;
    }
}

@media (min-width: 998px) {
    .select-btn {
        font-size: 0.8rem;
        font-weight: bold;
        padding: .4rem 0.8rem;
        margin: .2rem 0rem;
    }
}

/* /////////////////////////////////////////////////////////
////////////  NAVBAR  /////////////////////////////////////
///////////////////////////////////////////////////////// */

#currency-btn .dropdown-toggle {
    padding: .4rem 1rem .4rem 0.8rem;
}

#currency-btn .dropdown-menu {
    min-width: 5.8rem;
}

#currency-btn .dropdown-menu .dropdown-item {
    padding: .3rem .0rem .3rem .75rem;
    font-size: 85%;
}

.navbar {
    background-color: #ffffff;
    font-weight: 400;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.navbar-light .navbar-nav .nav-link.no-link-tooltip {
    color: #797979 !important;
}

/* .top-nav-collapse {
    background-color: #ffffff;
} */

/* /////////////////////////////////////////////////////////
////////////  FOOTER  ////////////////////////////////////
///////////////////////////////////////////////////////// */

/* .page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
} */

footer {
    background-color: #212121;
}

/* /////////////////////////////////////////////////////////
////////////  LOADING ANIMATION  //////////////////////////
///////////////////////////////////////////////////////// */

#cssload-pgloading {}

#cssload-pgloading:after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#cssload-pgloading .cssload-loadingwrap {
    position: absolute;
    top: 45%;
    bottom: 45%;
    left: 25%;
    right: 25%;
}

#cssload-pgloading .cssload-bokeh {
    font-size: 82px;
    width: 1em;
    height: 1em;
    position: relative;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#cssload-pgloading .cssload-bokeh li {
    position: absolute;
    width: .2em;
    height: .2em;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#cssload-pgloading .cssload-bokeh li:nth-child(1) {
    left: 50%;
    top: 0;
    margin: 0 0 0 -.1em;
    background: rgba(51, 59, 150, 0.98);
    transform-origin: 50% 250%;
    -o-transform-origin: 50% 250%;
    -ms-transform-origin: 50% 250%;
    -webkit-transform-origin: 50% 250%;
    -moz-transform-origin: 50% 250%;
    animation: cssload-rota 1.3s linear infinite, cssload-opa 4.22s ease-in-out infinite alternate;
    -o-animation: cssload-rota 1.3s linear infinite, cssload-opa 4.22s ease-in-out infinite alternate;
    -ms-animation: cssload-rota 1.3s linear infinite, cssload-opa 4.22s ease-in-out infinite alternate;
    -webkit-animation: cssload-rota 1.3s linear infinite, cssload-opa 4.22s ease-in-out infinite alternate;
    -moz-animation: cssload-rota 1.3s linear infinite, cssload-opa 4.22s ease-in-out infinite alternate;
}

#cssload-pgloading .cssload-bokeh li:nth-child(2) {
    top: 50%;
    right: 0;
    margin: -.1em 0 0 0;
    background: rgb(255, 0, 60);
    transform-origin: -150% 50%;
    -o-transform-origin: -150% 50%;
    -ms-transform-origin: -150% 50%;
    -webkit-transform-origin: -150% 50%;
    -moz-transform-origin: -150% 50%;
    animation: cssload-rota 2.14s linear infinite, cssload-opa 4.93s ease-in-out infinite alternate;
    -o-animation: cssload-rota 2.14s linear infinite, cssload-opa 4.93s ease-in-out infinite alternate;
    -ms-animation: cssload-rota 2.14s linear infinite, cssload-opa 4.93s ease-in-out infinite alternate;
    -webkit-animation: cssload-rota 2.14s linear infinite, cssload-opa 4.93s ease-in-out infinite alternate;
    -moz-animation: cssload-rota 2.14s linear infinite, cssload-opa 4.93s ease-in-out infinite alternate;
}

#cssload-pgloading .cssload-bokeh li:nth-child(3) {
    left: 50%;
    bottom: 0;
    margin: 0 0 0 -.1em;
    background: rgb(250, 190, 40);
    transform-origin: 50% -150%;
    -o-transform-origin: 50% -150%;
    -ms-transform-origin: 50% -150%;
    -webkit-transform-origin: 50% -150%;
    -moz-transform-origin: 50% -150%;
    animation: cssload-rota 1.67s linear infinite, cssload-opa 5.89s ease-in-out infinite alternate;
    -o-animation: cssload-rota 1.67s linear infinite, cssload-opa 5.89s ease-in-out infinite alternate;
    -ms-animation: cssload-rota 1.67s linear infinite, cssload-opa 5.89s ease-in-out infinite alternate;
    -webkit-animation: cssload-rota 1.67s linear infinite, cssload-opa 5.89s ease-in-out infinite alternate;
    -moz-animation: cssload-rota 1.67s linear infinite, cssload-opa 5.89s ease-in-out infinite alternate;
}

#cssload-pgloading .cssload-bokeh li:nth-child(4) {
    top: 50%;
    left: 0;
    margin: -.1em 0 0 0;
    background: rgb(136, 193, 0);
    transform-origin: 250% 50%;
    -o-transform-origin: 250% 50%;
    -ms-transform-origin: 250% 50%;
    -webkit-transform-origin: 250% 50%;
    -moz-transform-origin: 250% 50%;
    animation: cssload-rota 1.98s linear infinite, cssload-opa 6.04s ease-in-out infinite alternate;
    -o-animation: cssload-rota 1.98s linear infinite, cssload-opa 6.04s ease-in-out infinite alternate;
    -ms-animation: cssload-rota 1.98s linear infinite, cssload-opa 6.04s ease-in-out infinite alternate;
    -webkit-animation: cssload-rota 1.98s linear infinite, cssload-opa 6.04s ease-in-out infinite alternate;
    -moz-animation: cssload-rota 1.98s linear infinite, cssload-opa 6.04s ease-in-out infinite alternate;
}

@keyframes cssload-rota {
    from {}
    to {
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-rota {
    from {}
    to {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-rota {
    from {}
    to {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-rota {
    from {}
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-rota {
    from {}
    to {
        -moz-transform: rotate(360deg);
    }
}

@keyframes cssload-opa {
    0% {}
    12.0% {
        opacity: 0.80;
    }
    19.5% {
        opacity: 0.88;
    }
    37.2% {
        opacity: 0.64;
    }
    40.5% {
        opacity: 0.52;
    }
    52.7% {
        opacity: 0.69;
    }
    60.2% {
        opacity: 0.60;
    }
    66.6% {
        opacity: 0.52;
    }
    70.0% {
        opacity: 0.63;
    }
    79.9% {
        opacity: 0.60;
    }
    84.2% {
        opacity: 0.75;
    }
    91.0% {
        opacity: 0.87;
    }
}

@-o-keyframes cssload-opa {
    0% {}
    12.0% {
        opacity: 0.80;
    }
    19.5% {
        opacity: 0.88;
    }
    37.2% {
        opacity: 0.64;
    }
    40.5% {
        opacity: 0.52;
    }
    52.7% {
        opacity: 0.69;
    }
    60.2% {
        opacity: 0.60;
    }
    66.6% {
        opacity: 0.52;
    }
    70.0% {
        opacity: 0.63;
    }
    79.9% {
        opacity: 0.60;
    }
    84.2% {
        opacity: 0.75;
    }
    91.0% {
        opacity: 0.87;
    }
}

@-ms-keyframes cssload-opa {
    0% {}
    12.0% {
        opacity: 0.80;
    }
    19.5% {
        opacity: 0.88;
    }
    37.2% {
        opacity: 0.64;
    }
    40.5% {
        opacity: 0.52;
    }
    52.7% {
        opacity: 0.69;
    }
    60.2% {
        opacity: 0.60;
    }
    66.6% {
        opacity: 0.52;
    }
    70.0% {
        opacity: 0.63;
    }
    79.9% {
        opacity: 0.60;
    }
    84.2% {
        opacity: 0.75;
    }
    91.0% {
        opacity: 0.87;
    }
}

@-webkit-keyframes cssload-opa {
    0% {}
    12.0% {
        opacity: 0.80;
    }
    19.5% {
        opacity: 0.88;
    }
    37.2% {
        opacity: 0.64;
    }
    40.5% {
        opacity: 0.52;
    }
    52.7% {
        opacity: 0.69;
    }
    60.2% {
        opacity: 0.60;
    }
    66.6% {
        opacity: 0.52;
    }
    70.0% {
        opacity: 0.63;
    }
    79.9% {
        opacity: 0.60;
    }
    84.2% {
        opacity: 0.75;
    }
    91.0% {
        opacity: 0.87;
    }
}

@-moz-keyframes cssload-opa {
    0% {}
    12.0% {
        opacity: 0.80;
    }
    19.5% {
        opacity: 0.88;
    }
    37.2% {
        opacity: 0.64;
    }
    40.5% {
        opacity: 0.52;
    }
    52.7% {
        opacity: 0.69;
    }
    60.2% {
        opacity: 0.60;
    }
    66.6% {
        opacity: 0.52;
    }
    70.0% {
        opacity: 0.63;
    }
    79.9% {
        opacity: 0.60;
    }
    84.2% {
        opacity: 0.75;
    }
    91.0% {
        opacity: 0.87;
    }
}