/* /////////////////////////////////////////////////////////
////////////  STRUCTURAL FORMATING  ///////////////////////
///////////////////////////////////////////////////////// */

/* .lead, .display-4, .display-5 {
    font-weight: 400
}

body, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
} */

.large-font {
    font-size: 1.2rem;
}

.light-grey-color {
    color: #DCDCDC;
}

.orange-color {
    color: #ff7043 !important;
}

.indigo-color {
    color: #3f51b5;
}

.btn-deep-orange {
    background-color: #ff7043 !important;
    color: #fff !important
}

.badge-orange {
    background-color: #f80 !important;
    color: #fff !important
}

.btn-indigo {
    background-color: #3f51b5 !important;
    color: #fff !important
}

.btn-indigo-dark {
    background-color: #303f9f !important;
    color: #fff !important
}

.btn-grey {
    background-color: #797878;
}

.btn-dark-grey {
    background-color: #525050;
}

.rotateimg180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* /////////////////////////////////////////////////////////
////////////  NAVBAR  /////////////////////////////////////
///////////////////////////////////////////////////////// */

.navbar {
    background: #fff;
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
    border-bottom: 1px solid #ddd;
}

.navbar .navbar-nav a.nav-link {
    color: #333 !important;
    margin: 0 5px;
    font-weight: 500;
    font-size: 1.2em;
}

.navbar .navbar-nav a.nav-link.under-construction {
    color: #7d7d7d !important;
    font-weight: 400;
}

.navbar .navbar-nav a.nav-link:hover {
    color: #3f51b5 !important;
}

.navbar .navbar-nav a.nav-link.active {
    color: #ff7043 !important;
    font-weight: bold;
}

/* #currency-btn .dropdown-toggle {
    padding: .4rem 1rem .4rem 0.8rem;
}

#currency-btn .dropdown-menu {
    min-width: 5.8rem;
}

#currency-btn .dropdown-menu .dropdown-item {
    padding: .3rem .0rem .3rem .75rem;
    font-size: 85%;
} */

@media (max-width: 375px) {
    .navbar {
        padding-right: 0.25rem;
        padding-left: 0.25rem;
    }
}

/* /////////////////////////////////////////////////////////
////////////  FOOTER  ////////////////////////////////////
///////////////////////////////////////////////////////// */

/* .page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
} */

footer {
    background-color: #212121;
}

footer.page-footer {
    bottom: 0;
    color: #fff
}

footer.page-footer .container-fluid {
    width: auto
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    background-color: rgba(0, 0, 0, .2);
    color: rgba(255, 255, 255, .6)
}

footer.page-footer a {
    color: #fff
}