/* /////////////////////////////////////////////////////////
////////////  STRUCTURAL FORMATING  ///////////////////////
///////////////////////////////////////////////////////// */

/* a, i, span {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

a:hover, a:focus, i:hover, i:focus, span:hover, span:focus {
    text-decoration: none;
} */

strong {
    font-weight: 700;
}

img {
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */
}

.no-link-format {
    color: inherit !important;
    text-decoration: none;
}

.no-link-format:hover {
    text-decoration: none;
}

.smaller-font {
    font-size: 0.9em;
}

.extra-smaller-font {
    font-size: 0.75em;
}

.large-font {
    font-size: 1.2em;
}

.light-grey-color {
    color: #DCDCDC;
}

.grey-color {
    color: #838282 !important;
}

.dark-grey-color {
    color: #535353 !important;
}

.orange-color {
    color: #ff7043 !important;
}

.indigo-color {
    color: #3f51b5;
}

.btn-deep-orange {
    background-color: #ff7043 !important;
    color: #fff !important
}

.badge-orange {
    background-color: #f80 !important;
    color: #fff !important
}

.btn-rounded {
    border-radius: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.btn-indigo {
    background-color: #3f51b5 !important;
    color: #fff !important
}

.btn-indigo-dark {
    background-color: #303f9f !important;
    color: #fff !important
}

.btn-none-indigo {
    font-weight: 700;
    color: #303f9f !important;
}

.btn-grey {
    background-color: #797878;
}

.btn-dark-grey {
    background-color: #525050;
}

.rotateimg180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.mask-rgba-black-strong {
    background-color: rgba(0, 0, 0, .7);
}

.light-gray-bg {
    background-color: #f2f2f2;
}

.section-padding-2rem {
    padding: 2rem 0;
}

.section-padding-4rem {
    padding: 4rem 0;
}

.text-primary {
    color: #2b90d9 !important;
}

.text-big {
    font-size: 1.3em !important;
    font-weight: 300 !important;
    line-height: 1.8em !important;
    color: #333333 !important;
}

.promo-link {
    color: inherit;
    text-decoration: underline;
}

.open-sans-font {
    font-family: "Open Sans", sans-serif;
}

.blockquote {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    border-left: 5px solid #2b90d9;
}

.blockquote-footer {
    color: #868e96;
}

.blockquote-footer::before {
    content: "\2014 \00A0";
}

/* @media (max-width: 410.98px) {
    html {
        font-size: 0.9rem;
    }
    .section-padding-2rem {
        padding: 1rem 0;
    }
    .section-padding-4rem {
        padding: 2rem 0;
    }
    .text-big {
        font-size: 1.1em !important;
    }
    h1 {
        font-size: 2rem;
    }
    h2, h3 {
        font-size: 1.7rem;
    }
    h4 {
        font-size: 1.25rem;
    }
    h5, h6 {
        font-size: 1rem;
    }
}

@media (min-width: 411px) and (max-width: 480.98px) {
    html {
        font-size: 0.9rem;
    }
    .section-padding-2rem {
        padding: 1.5rem 0;
    }
    .section-padding-4rem {
        padding: 2rem 0;
    }
    .text-big {
        font-size: 1.1em !important;
    }
    h1 {
        font-size: 2rem;
    }
    h2, h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.25rem;
    }
    h5, h6 {
        font-size: 1rem;
    }
} */

@media (max-width: 575.98px) {
    html {
        font-size: 0.9rem;
    }
    .section-padding-2rem {
        padding: 1rem 0;
    }
    .section-padding-4rem {
        padding: 2rem 0;
    }
    h1 {
        font-size: 2rem;
    }
    h2, h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.25rem;
    }
    h5, h6 {
        font-size: 1rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .section-padding-4rem {
        padding: 2rem 0;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .section-padding-4rem {
        padding: 2.5rem 0;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .section-padding-4rem {
        padding: 3rem 0;
    }
}

/* /////////////////////////////////////////////////////////
////////////  NAVBAR  /////////////////////////////////////
///////////////////////////////////////////////////////// */

.navbar {
    background: #fff;
    padding: 1.25rem .5rem !important;
    border-bottom: 1px solid #ddd;
}

.navbar .navbar-nav a.nav-link {
    color: #333 !important;
    margin: 0 5px;
    font-weight: 600;
    font-size: 1.2em;
}

.navbar .navbar-nav a.nav-link.under-construction {
    color: #7d7d7d !important;
    font-weight: 400;
}

.navbar .navbar-nav a.nav-link:hover {
    color: #3f51b5 !important;
}

.navbar .navbar-nav a.nav-link.active {
    color: #ff7043 !important;
    font-weight: bold;
}

@media (max-width: 375px) {
    .navbar {
        padding-right: 0.25rem;
        padding-left: 0.25rem;
    }
    .navbar .badge {
        display: none;
    }
}

/* /////////////////////////////////////////////////////////
////////////  HOME BOX STYLE  //////////////////////////////
///////////////////////////////////////////////////////// */

.box {
    padding: 2rem 1.5rem;
    text-align: center;
    -webkit-box-shadow: 0 0 0 0 #ffffff;
    box-shadow: 0 0 0 0 #ffffff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 5px;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.box:hover {
    -webkit-box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
    background-color: #fcfcfc;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
}

.box .box-icon {
    margin-bottom: 1.2rem;
    max-width: 100%;
    height: 8rem;
}

@media (max-width: 991.98px) {
    .box {
        padding: .5rem .5rem;
    }
    .box .box-icon {
        margin-bottom: 0.5rem;
        max-width: 100%;
        height: 8rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .box {
        padding: 1.5rem 1rem;
    }
}

/* /////////////////////////////////////////////////////////
////////////  TRANSPARENT CARD-DECK  ///////////////////////
///////////////////////////////////////////////////////// */

.transparent-card.card-deck .card {
    border: none;
    margin-bottom: 2rem;
    background-color: inherit;
}

.transparent-card.card-deck .card .card-body {
    padding: .5rem 0rem;
}

.transparent-card.card-deck .card .card-footer {
    padding: .5rem 0rem;
    background-color: inherit;
    border: none;
}

/* /////////////////////////////////////////////////////////
////////////  FOOTER  ////////////////////////////////////
///////////////////////////////////////////////////////// */

/* .page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
} */

footer {
    background-color: #212121;
}

footer.page-footer {
    bottom: 0;
    color: #fff
}

footer.page-footer .container-fluid {
    width: auto
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    background-color: rgba(0, 0, 0, .2);
    color: rgba(255, 255, 255, .6)
}

footer.page-footer a {
    color: #fff
}

footer.page-footer a.conditions {
    color: #ffffff99
}

/* /////////////////////////////////////////////////////////
////////////  BLOG CSS  ////////////////////////////////////
///////////////////////////////////////////////////////// */

/*
* ==========================================================
*     HERO SECTION
* ==========================================================
*/

section.hero {
    padding: 0;
    color: #fff;
}

section.hero .container {
    padding: 100px 20px;
    position: relative;
}

section.hero h1 {
    line-height: 1.2em;
}

section.hero .continue {
    position: absolute;
    bottom: 30px;
    left: 20px;
    text-decoration: none !important;
    color: inherit !important;
    text-transform: uppercase;
    font-size: 0.75em;
    opacity: 0.8;
}

section.hero .continue i {
    margin-right: 5px;
}

/* Hero Section Media Query ------------------------------------- */

@media (max-width: 480px) {
    section.hero .container {
        padding: 50px 20px;
    }
    section.hero h1 {
        font-size: 1.5rem;
    }
    section.intro h2 {
        font-size: 1.5rem;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    section.hero .container {
        padding: 75px 20px;
    }
    section.hero h1 {
        font-size: 2rem;
    }
}

/*
* ==========================================================
*     BLOG - LATEST SECTION
* ==========================================================
*/

section.latest-posts header {
    margin-bottom: 50px;
}

.post-meta {
    margin: 10px 0;
    font-size: 0.8em;
    color: #999;
}

.post-meta .date {
    text-transform: uppercase;
    font-weight: 400;
}

.post-meta .date::after {
    display: none;
}

/* .post p:not(.lead) {
    font-weight: 400;
    color: #777;
    font-size: 0.95em;
} */

.post a {
    text-decoration: none;
}

.post a:hover, .post a:focus {
    text-decoration: none;
}

section.latest-posts .post h4 {
    line-height: 1.1em;
    color: #222;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 1rem;
}

section.latest-posts .post h4:hover {
    color: #555;
}

.post .category a {
    color: #2b90d9;
    letter-spacing: 0.05em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.post .date {
    letter-spacing: 0.05em;
    font-weight: 400;
    text-transform: uppercase;
    color: #999;
}

.post .avatar {
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.post .title, .post .date, .post .comments, .post .views {
    font-weight: 400;
    color: #999;
    text-transform: capitalize;
}

.post .title i, .post .date i, .post .comments i, .post .views i {
    margin-right: 5px;
    font-size: 1.1em;
}

/* .post .title::after, .post .comments::after, .post .views::after {
    content: '|';
    display: inline-block;
    margin: 0 7px;
    font-size: 0.9em;
    color: #ccc;
} */

.post .post-tags {
    margin-top: 10px;
}

.post .post-tags .tag {
    padding: 5px 25px;
    border: 1px solid #ddd;
    margin: 5px;
    color: #777;
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    border-radius: 50px;
}

.post .post-tags .tag:hover {
    background: #2b90d9;
    color: #fff;
    border-color: #2b90d9;
}

.post .meta-last::after {
    display: none;
}

/* Latest Posts Section Media Query ------------------------------------- */

@media (max-width: 767px) {
    .post {
        margin-bottom: 40px;
    }
    .post:last-of-type {
        margin-bottom: 0;
    }
}

.blog-post .post-thumbnail img {
    /* width: 100%; */
    margin-bottom: 10px;
}

.blog-post h1 {
    color: #444;
    line-height: 1.1em;
}

.blog-post h1:hover {
    color: #444;
}

.blog-post .post-footer {
    margin-top: 20px;
    font-size: 0.8rem;
    color: #999;
}

.blog-post .post-body {
    margin-top: 40px;
}

.blog-post .post-body h1, .blog-post .post-body h2, .blog-post .post-body h3, .blog-post .post-body h4, .blog-post .post-body h5, .blog-post .post-body h6 {
    color: #333;
    font-weight: 700;
}

.blog-post .post-body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blog-post .post-body p {
    margin-bottom: 1.2rem;
    font-size: 1.1rem;
}

.blog-post .post-body p:not(.lead) {
    /* font-size: 1em; */
    line-height: 1.7em;
    color: #555;
}

.blog-post .posts-nav {
    margin-top: 20px;
    color: #777;
    font-size: 0.8em;
}

.blog-post .posts-nav a {
    color: inherit;
    width: calc(50% - 10px);
    padding: 10px 20px;
    border: 1px solid #eee;
    margin-bottom: 15px;
}

.blog-post .posts-nav a:hover {
    border-color: #2b90d9;
}

.blog-post .posts-nav a:hover .icon {
    background: #2b90d9;
    color: #fff;
    border-color: #2b90d9;
}

.blog-post .icon {
    min-width: 35px;
    max-width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 32px;
    border: 1px solid #ddd;
    color: #aaa;
    font-size: 1.5em;
    text-align: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.blog-post .icon.prev {
    margin-right: 20px;
}

.blog-post .icon.next {
    margin-left: 20px;
}

.blog-post .post-comments {
    margin-top: 50px;
}

.blog-post .post-comments span.no-of-comments {
    color: #777;
    font-size: 0.8em;
    margin-left: 5px;
    font-weight: 400;
}

.blog-post .post-comments header {
    margin-bottom: 40px;
}

.blog-post .post-comments .comment:last-of-type .comment-body {
    border-bottom: none;
}

.blog-post .post-comments .image {
    margin-right: 15px;
}

.blog-post .post-comments .title::after {
    display: none;
}

.blog-post .post-comments img {
    max-width: 40px;
    min-width: 40px;
    height: 40px;
}

.blog-post .post-comments strong {
    display: block;
    color: #555;
}

.blog-post .post-comments span.date {
    font-size: 0.8em;
    color: #999;
}

.blog-post .post-comments span.date::after {
    display: none;
}

.blog-post .post-comments .comment-body {
    margin-left: 55px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.blog-post .post-comments p {
    font-size: 0.95em;
    color: #555;
}

.blog-post blockquote {
    font-size: 1.05em;
    line-height: 1.7em;
    /* border-color: #2b90d9; */
    border: 1px solid #ff7043;
    border-left: 6px solid #ff7043;
    padding: .5rem 1.5rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.blog-post blockquote p {
    margin-bottom: .5rem !important;
    margin-top: .5rem !important;
    font-weight: 700;
}

.category a {
    color: #2b90d9;
    letter-spacing: 0.08em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
}

.category a::after {
    content: ',';
    color: #2b90d9;
    display: inline-block;
    margin-right: 5px;
}

.category a:last-of-type::after {
    display: none;
}

.category a:hover {
    color: #000;
}

@media (max-width: 767px) {
    .posts-nav a {
        width: 100% !important;
    }
}

@media (max-width: 575px) {
    .blog-post .title::after {
        display: none !important;
    }
}

/*
* ==========================================================
*     BLOG - POST-CONTENT SECTION
* ==========================================================
*/

section.post-content .category a {
    font-size: 1rem;
}

section.post-content h3 {
    margin-top: 3rem;
}

section.post-content h4 {
    margin-top: 1.5rem;
}

section.post-content ul li {
    list-style-type: square;
    list-style-position: outside;
    margin-left: 1rem;
}

section.post-content ol {
    font-weight: bold;
}

section.post-content ol li p {
    font-weight: normal;
}

@media (max-width: 575px) {
    /* section.post-content h1 {
        font-size: 1.5rem;
    } */
    /* section.post-content .blog-post .post-body p {
        font-size: 0.9rem;
    } */
    section.post-content ul li {
        margin-left: 0rem;
    }
}

/*
* ==========================================================
*     BLOG - SOCIAL LINKS
* ==========================================================
*/

section.social-links i.fa-link {
    font-size: 2.5rem;
    color: #525252;
}

@media (max-width: 575px) {
    section.social-links i.fa-3x {
        font-size: 2.5rem;
    }
    section.social-links i.fa-link {
        font-size: 2.2rem;
    }
}

/* /////////////////////////////////////////////////////////
////////////  LOADING ANIMATION  //////////////////////////
///////////////////////////////////////////////////////// */

#loading-bg {
    background: rgba(0, 0, 0, .5) no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 199;
    display: none;
}

#cssload-pgloading {
    display: none;
}

#cssload-pgloading:after {
    content: "";
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#cssload-pgloading .cssload-loadingwrap {
    position: fixed;
    top: 45%;
    bottom: 45%;
    left: 25%;
    right: 25%;
    z-index: 999;
}

#cssload-pgloading .cssload-bokeh {
    font-size: 82px;
    width: 1em;
    height: 1em;
    position: relative;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#cssload-pgloading .cssload-bokeh li {
    position: absolute;
    width: .2em;
    height: .2em;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#cssload-pgloading .cssload-bokeh li:nth-child(1) {
    left: 50%;
    top: 0;
    margin: 0 0 0 -.1em;
    background: rgba(51, 59, 150, 0.98);
    transform-origin: 50% 250%;
    -o-transform-origin: 50% 250%;
    -ms-transform-origin: 50% 250%;
    -webkit-transform-origin: 50% 250%;
    -moz-transform-origin: 50% 250%;
    animation: cssload-rota 1.3s linear infinite, cssload-opa 4.22s ease-in-out infinite alternate;
    -o-animation: cssload-rota 1.3s linear infinite, cssload-opa 4.22s ease-in-out infinite alternate;
    -ms-animation: cssload-rota 1.3s linear infinite, cssload-opa 4.22s ease-in-out infinite alternate;
    -webkit-animation: cssload-rota 1.3s linear infinite, cssload-opa 4.22s ease-in-out infinite alternate;
    -moz-animation: cssload-rota 1.3s linear infinite, cssload-opa 4.22s ease-in-out infinite alternate;
}

#cssload-pgloading .cssload-bokeh li:nth-child(2) {
    top: 50%;
    right: 0;
    margin: -.1em 0 0 0;
    background: rgb(255, 0, 60);
    transform-origin: -150% 50%;
    -o-transform-origin: -150% 50%;
    -ms-transform-origin: -150% 50%;
    -webkit-transform-origin: -150% 50%;
    -moz-transform-origin: -150% 50%;
    animation: cssload-rota 2.14s linear infinite, cssload-opa 4.93s ease-in-out infinite alternate;
    -o-animation: cssload-rota 2.14s linear infinite, cssload-opa 4.93s ease-in-out infinite alternate;
    -ms-animation: cssload-rota 2.14s linear infinite, cssload-opa 4.93s ease-in-out infinite alternate;
    -webkit-animation: cssload-rota 2.14s linear infinite, cssload-opa 4.93s ease-in-out infinite alternate;
    -moz-animation: cssload-rota 2.14s linear infinite, cssload-opa 4.93s ease-in-out infinite alternate;
}

#cssload-pgloading .cssload-bokeh li:nth-child(3) {
    left: 50%;
    bottom: 0;
    margin: 0 0 0 -.1em;
    background: rgb(250, 190, 40);
    transform-origin: 50% -150%;
    -o-transform-origin: 50% -150%;
    -ms-transform-origin: 50% -150%;
    -webkit-transform-origin: 50% -150%;
    -moz-transform-origin: 50% -150%;
    animation: cssload-rota 1.67s linear infinite, cssload-opa 5.89s ease-in-out infinite alternate;
    -o-animation: cssload-rota 1.67s linear infinite, cssload-opa 5.89s ease-in-out infinite alternate;
    -ms-animation: cssload-rota 1.67s linear infinite, cssload-opa 5.89s ease-in-out infinite alternate;
    -webkit-animation: cssload-rota 1.67s linear infinite, cssload-opa 5.89s ease-in-out infinite alternate;
    -moz-animation: cssload-rota 1.67s linear infinite, cssload-opa 5.89s ease-in-out infinite alternate;
}

#cssload-pgloading .cssload-bokeh li:nth-child(4) {
    top: 50%;
    left: 0;
    margin: -.1em 0 0 0;
    background: rgb(136, 193, 0);
    transform-origin: 250% 50%;
    -o-transform-origin: 250% 50%;
    -ms-transform-origin: 250% 50%;
    -webkit-transform-origin: 250% 50%;
    -moz-transform-origin: 250% 50%;
    animation: cssload-rota 1.98s linear infinite, cssload-opa 6.04s ease-in-out infinite alternate;
    -o-animation: cssload-rota 1.98s linear infinite, cssload-opa 6.04s ease-in-out infinite alternate;
    -ms-animation: cssload-rota 1.98s linear infinite, cssload-opa 6.04s ease-in-out infinite alternate;
    -webkit-animation: cssload-rota 1.98s linear infinite, cssload-opa 6.04s ease-in-out infinite alternate;
    -moz-animation: cssload-rota 1.98s linear infinite, cssload-opa 6.04s ease-in-out infinite alternate;
}

@keyframes cssload-rota {
    from {}
    to {
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-rota {
    from {}
    to {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-rota {
    from {}
    to {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-rota {
    from {}
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-rota {
    from {}
    to {
        -moz-transform: rotate(360deg);
    }
}

@keyframes cssload-opa {
    0% {}
    12.0% {
        opacity: 0.80;
    }
    19.5% {
        opacity: 0.88;
    }
    37.2% {
        opacity: 0.64;
    }
    40.5% {
        opacity: 0.52;
    }
    52.7% {
        opacity: 0.69;
    }
    60.2% {
        opacity: 0.60;
    }
    66.6% {
        opacity: 0.52;
    }
    70.0% {
        opacity: 0.63;
    }
    79.9% {
        opacity: 0.60;
    }
    84.2% {
        opacity: 0.75;
    }
    91.0% {
        opacity: 0.87;
    }
}

@-o-keyframes cssload-opa {
    0% {}
    12.0% {
        opacity: 0.80;
    }
    19.5% {
        opacity: 0.88;
    }
    37.2% {
        opacity: 0.64;
    }
    40.5% {
        opacity: 0.52;
    }
    52.7% {
        opacity: 0.69;
    }
    60.2% {
        opacity: 0.60;
    }
    66.6% {
        opacity: 0.52;
    }
    70.0% {
        opacity: 0.63;
    }
    79.9% {
        opacity: 0.60;
    }
    84.2% {
        opacity: 0.75;
    }
    91.0% {
        opacity: 0.87;
    }
}

@-ms-keyframes cssload-opa {
    0% {}
    12.0% {
        opacity: 0.80;
    }
    19.5% {
        opacity: 0.88;
    }
    37.2% {
        opacity: 0.64;
    }
    40.5% {
        opacity: 0.52;
    }
    52.7% {
        opacity: 0.69;
    }
    60.2% {
        opacity: 0.60;
    }
    66.6% {
        opacity: 0.52;
    }
    70.0% {
        opacity: 0.63;
    }
    79.9% {
        opacity: 0.60;
    }
    84.2% {
        opacity: 0.75;
    }
    91.0% {
        opacity: 0.87;
    }
}

@-webkit-keyframes cssload-opa {
    0% {}
    12.0% {
        opacity: 0.80;
    }
    19.5% {
        opacity: 0.88;
    }
    37.2% {
        opacity: 0.64;
    }
    40.5% {
        opacity: 0.52;
    }
    52.7% {
        opacity: 0.69;
    }
    60.2% {
        opacity: 0.60;
    }
    66.6% {
        opacity: 0.52;
    }
    70.0% {
        opacity: 0.63;
    }
    79.9% {
        opacity: 0.60;
    }
    84.2% {
        opacity: 0.75;
    }
    91.0% {
        opacity: 0.87;
    }
}

@-moz-keyframes cssload-opa {
    0% {}
    12.0% {
        opacity: 0.80;
    }
    19.5% {
        opacity: 0.88;
    }
    37.2% {
        opacity: 0.64;
    }
    40.5% {
        opacity: 0.52;
    }
    52.7% {
        opacity: 0.69;
    }
    60.2% {
        opacity: 0.60;
    }
    66.6% {
        opacity: 0.52;
    }
    70.0% {
        opacity: 0.63;
    }
    79.9% {
        opacity: 0.60;
    }
    84.2% {
        opacity: 0.75;
    }
    91.0% {
        opacity: 0.87;
    }
}