/* form starting stylings ------------------------------- */

section#search-canvas .group {
    position: relative;
}

section#search-canvas .group input {
    /* font-size: 18px;*/
    color: white;
    padding: 10px 10px 5px 10px;
    display: block;
    /* width: 100px; */
    border: none;
    border-bottom: 1px solid #e2e2e2;
    background-color: transparent
}

section#search-canvas .group input.align-right {
    text-align: right;
}

section#search-canvas .group input:focus {
    outline: none;
}

/* LABEL ======================================= */

section#search-canvas .group label {
    color: #b9b6b6;
    font-style: italic;
    /* font-size: 18px; */
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */

section#search-canvas .group input:focus~label, section#search-canvas .group input:valid~label {
    top: -15px;
    font-size: 0.87rem;
    color: #989898;
}

/* FORM ERRORS ======================================= */

section#search-canvas .group .form-errors {
    position: absolute;
    left: 5px;
    top: 45px;
    font-style: italic;
    font-size: 0.85rem
}

section#search-canvas .group input.invalid {
    color: #f44e4e;
    font-style: italic;
}

/* BOTTOM BARS ================================= */

section#search-canvas .group .bar {
    position: relative;
    display: block;
    /* width: 100px; */
}

section#search-canvas .group .bar:before, section#search-canvas .group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #e2e2e2;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

section#search-canvas .group .bar:before {
    left: 50%;
}

section#search-canvas .group .bar:after {
    right: 50%;
}

/* active state */

section#search-canvas .group input:focus~.bar:before, section#search-canvas .group input:focus~.bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */

.highlight {
    position: absolute;
    height: 60%;
    /* width: 100px; */
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */

section#search-canvas .group input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
    from {
        background: #e2e2e2;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #e2e2e2;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #e2e2e2;
    }
    to {
        width: 0;
        background: transparent;
    }
}